{% extends 'base.html' %}
{% block title %}
    Создание страницы приюта
{% endblock %}
{%  block body %}
{%for error in errors%}
    <p>{{ error }}</p>
{% endfor %}

<form method="post" action="{% url 'shelters:add' %}">
    {% csrf_token %}

    {{ form.as_p }}

    <input type="submit" value="Создать"/>
</form>
{%  endblock %}