{% extends "base.html" %}

{% block content %} 

    {% if results %}
        <table>
        <tr>
            {% for p in params %}
                <th>{{ p }}</th>
            {% endfor %}
        </tr>
            {% for r in results %}

                <tr>
                {% for v in r.values %}
                <td>{{ v }}</td>
                {% endfor %}
                </tr>

        {% endfor %}
        </table>

    {% else %}
        
        No results..

    {% endif %}

{% endblock content %}