{% extends 'base.html' %}
{% block title %}
    Добавить питомца
{% endblock %}
{% block body %}
    <div>
        {% for error in errors %}
            <p>{{ error }}</p>
        {% endfor %}

        <form method="post" action="{% url 'pets:add' %}">
            {% csrf_token %}

            {{ form.as_p }}

            <input type="submit" value="Добавить"/>
        </form>
    </div>
{% endblock %}
