#im_css {
  display: none;
}
#tab_conversation,
#tab_friends,
#tab_spam,
#tab_search,
#tab_write,
#tab_important {
  display: none;
}
#im_top_tabs .active_link {
  display: block;
}
#im_bar {
  padding: 5px;
  background: #F7F7F7;
  border-bottom: 1px solid #DAE1E8;
}
.im_bar_controls {
  padding: 3px 5px 3px 0;
  display: none;
}
#im_bar .im_bar_controls .flat_button {
  margin: 3px 0 3px 8px;
}
#im_bar .im_bar_controls button {
  padding: 4px 10px;
  line-height: 1.36em;
  height: 24px;
}
.im_add_to_fav {
  margin-right: 5px;
}
.im_cancel_mark {
  padding: 6px 0 0;
}
.im_spam_hint {
  color: #777;
  padding: 8px 0 0 8px;
}
#im_tabs {
  padding: 3px 0;
}
.im_group_peer .im_tab3 {
  padding-top: 7px;
}
.im_group_peer .im_tab3 a {
  color: #45688E;
}
.im_group_peer_img {
  width: 29px;
  height: 29px;
  margin: 0 10px 0 5px;
  border-radius: 3px;
}
.im_group_tabs#im_tabs .im_tab,
.im_group_tabs#im_tabs .im_tab_selected {
  display: none !important;
}
.im_dialog_fav {
  margin-top: 1px;
  background-color: #E4E8ED;
}
.im_dialog_fav i {
  background: url(/images/icons/fav_mark.png?9) 3px 0 no-repeat;
  display: block;
  width: 20px;
  height: 14px;
  cursor: pointer;
}
.im_dialog_fav.im_dialog_fav_active i {
  background-position: 3px -18px;
}
.im_dialog_fav.im_dialog_fav_active,
.flat_button.im_dialog_fav.im_dialog_fav_active:hover {
  background-color: #6383a8;
}
.flat_button.im_dialog_respond {
  margin-top: 1px;
  background-color: #E4E8ED;
}
.flat_button.im_dialog_respond:hover,
.flat_button.im_dialog_fav:hover {
  background-color: #DAE0E6;
}
.im_dialog_respond i {
  width: 21px;
  height: 14px;
  display: block;
  background: url(/images/icons/reply_mark.png?2) center center no-repeat;
}
.im_tabs_group_actions {
  width: 200px;
  margin-top: 7px;
}
.im_tab,
.im_tab_selected,
.im_tab_over {
  cursor: pointer;
  padding: 5px 1px 5px 5px;
  float: left;
  height: 30px;
  box-sizing: border-box;
}
.im_tab2 {
  padding: 3px 6px 4px;
}
.im_tab_over .im_tab2 {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-color: #E1E7ED;
}
.im_tab_selected .im_tab2 {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-color: #597DA3;
}
.im_tab3 {
  font-weight: bold;
  color: #45688E;
  padding-left: 2px;
  padding-right: 5px;
  max-width: 300px;
  overflow: hidden;
  white-space: nowrap;
}
.im_tab4 {
  max-width: 280px;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  float: left;
  overflow: hidden;
}
.im_tab_selected .im_tab3 {
  color: #FFF;
}
.im_tab.muted .im_tab_muted_span {
  background: url(/images/muted.png) 0 -14px no-repeat;
  height: 10px;
  margin-bottom: -2px;
  padding-left: 10px;
  margin-right: 6px;
}
.im_tab_selected.muted .im_tab_muted_span {
  background: url(/images/muted.png) 0 0 no-repeat;
  height: 10px;
  margin-bottom: -2px;
  padding-left: 10px;
  margin-right: 5px;
}
.im_tabx {
  margin-top: 2px;
  width: 11px;
  height: 11px;
}
.im_tab .im_tabx {
  background: url(/images/pics/im_tabx.gif?1) 0 0;
  opacity: 0.12;
  filter: alpha(opacity=12);
}
.im_tab_over .im_tabx_over {
  background: url(/images/pics/im_tabx.gif?1) 0 0;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.im_tab_selected .im_tabx {
  background: url(/images/pics/im_tabx.gif?1) 0 -13px;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.im_tab_selected .im_tabx_over {
  background: url(/images/pics/im_tabx.gif?1) 0 -13px;
  opacity: 1;
  filter: alpha(opacity=100);
}
.im_unread {
  font-size: 0.9em;
  vertical-align: bottom;
}
#im_progress {
  margin-top: 2px;
}
.im_rows_group_wrap #im_progress {
  margin-left: 5px;
  margin-top: 1px;
  position: absolute;
}
#im_to_end_wrap {
  display: none;
  width: 627px;
  cursor: pointer;
  position: absolute;
  margin-top: -35px;
  height: 14px;
  padding: 10px 0px;
  text-align: center;
  background: #E1E7E9;
  background: rgba(225, 231, 233, 0.95);
  color: #738392;
  border-top: 1px solid #DAE2E8;
}
#im_to_end_wrap:hover {
  background: #E6EDF0;
  background: rgba(230, 237, 240, 0.95);
}
.im_to_end {
  padding: 0px 16px;
  background: url(/images/im_toend.gif) no-repeat right 0px;
}
#im_top_sh,
#im_bottom_sh {
  display: none;
  position: absolute;
  width: 627px;
  height: 3px;
  z-index: 100;
  background: #555;
  opacity: 0.12;
  filter: alpha(opacity=12);
  margin-top: -1px;
}
#im_bottom_sh {
  margin: -2px 0 0;
  top: 0;
  left: 0;
}
.im_to_end_controls #im_peer_controls {
  border-top: 1px solid #D3DBE3;
}
.im_to_end_controls #im_bottom_sh {
  visibility: hidden;
}
.im_to_end_controls #im_to_end_wrap {
  display: block;
}
.dialogs_row {
  cursor: pointer;
  padding: 5px 10px 5px 7px;
  border-bottom: 1px solid #e4e8ed;
}
.dialogs_deleted_row {
  cursor: default;
}
.dialogs_new_msg {
  background: #edf1f5;
  border-color: #DAE1E8;
}
.dialogs_row_important {
  position: relative;
}
.dialogs_row_important::before {
  display: block;
  content: "";
  position: absolute;
  left: 0px;
  top: 0;
  height: 100%;
  width: 2px;
  background: #597DA3;
  -moz-box-shadow: 0px 0px 0px 0.5px #597DA3;
  -webkit-box-shadow: 0px 0px 0px 0.5px #597DA3;
  box-shadow: 0px 0px 0px 0.5px #597DA3;
}
.dialogs_row_t {
  width: 100%;
}
.dialogs_row_over {
  background: #edf1f5;
  border-color: #DAE1E8;
}
.dialogs_row_over .dialogs_new_msg {
  background: #DAE1E8;
}
.dialogs_row_over .dialogs_online,
.dialogs_new_msg .dialogs_online {
  color: #93a2b3;
}
.dialogs_row_over .dialogs_date,
.dialogs_new_msg .dialogs_date {
  color: #8795a5;
}
.dialogs_photo {
  width: 50px;
  padding: 5px 5px 2px;
  vertical-align: middle;
}
.dialogs_info {
  padding: 5px;
  vertical-align: middle;
  width: 125px;
}
.dialogs_user {
  width: 120px;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}
.dialogs_online {
  color: #aaa;
  padding: 3px 0 2px;
}
.dialogs_date {
  color: #999999;
  font-size: 0.9em;
}
.dialogs_msg_contents {
  padding: 0px;
  vertical-align: middle;
  position: relative;
}
.dialogs_msg_body {
  padding: 6px 8px 8px;
}
.dialogs_deleted_row .dialogs_msg_body {
  color: #777;
  line-height: 1.81em;
  text-align: center;
}
.im_pogress_blacklist {
  position: absolute;
  margin-top: 4px;
}
.im_rows_group_wrap .dialogs_deleted_row .dialogs_msg_body {
  text-align: left;
}
.dialogs_msg_text {
  color: #67829E;
  line-height: 160%;
  width: 295px;
}
.dialogs_msg_body .dialogs_inline_author {
  width: 32px;
  height: 32px;
  margin: 3px 10px 2px 0;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.dialogs_msg_body.dialogs_new_msg {
  min-height: 37px;
}
.dialogs_unread_td {
  width: 1px;
  vertical-align: middle;
}
.dialogs_unread {
  margin: 0 3px;
  background: #D1DAE3;
  padding: 4px 6px 4px 5px;
  font-weight: bold;
  color: #436796;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.dialogs_new_msg .dialogs_push_muted,
.dialogs_row_over .dialogs_push_muted {
  background: url(/images/muted.png) 0 -39px no-repeat;
}
.dialogs_push_muted {
  background: url(/images/muted.png) 0 -25px no-repeat;
  height: 9px;
  margin-left: 4px;
  padding-left: 10px;
}
div.dialogs_inline_chatter {
  margin: 0 4px 4px 0;
  float: left;
  width: 23px;
  height: 23px;
  overflow: hidden;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
img.dialogs_inline_chatter {
  width: 23px;
  height: 23px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
div.dialogs_inline_chatter_half {
  height: 50px;
}
img.dialogs_inline_chatter_half {
  margin: 0px -12px;
  height: 50px;
  width: 50px;
}
.im_friend div.dialogs_inline_chatter {
  width: 20px;
  height: 20px;
  margin: 0 3px 3px 0;
}
.im_friend img.dialogs_inline_chatter {
  width: 20px;
  height: 20px;
}
.im_friend div.dialogs_inline_chatter_half {
  height: 43px;
}
.im_friend img.dialogs_inline_chatter_half {
  height: 43px;
  width: 43px;
}
#im_dialogs_next {
  display: none;
}
.dialogs_chat_title {
  font-weight: bold;
  width: 240px;
}
.dialogs_del_wrap {
  display: none;
  position: absolute;
  right: 15px;
  margin-top: 10px;
  opacity: 0.6;
  filter: alpha(opacity=60);
  z-index: 99999;
}
.dialogs_star_wrap {
  display: none;
  position: absolute;
  right: 35px;
  margin-top: 9px;
  opacity: 0.6;
  filter: alpha(opacity=60);
  z-index: 99999;
}
.dialogs_row_over .dialogs_star_wrap.dialogs_star_wrap_active {
  display: block;
  opacity: 1;
  filter: alpha(opacity=100);
}
.dialogs_star {
  cursor: pointer;
  background: url(/images/icons/im_actions_iconset2.png?10) -3px -242px no-repeat;
  height: 14px;
  width: 14px;
}
.dialogs_new_msg .dialogs_star_wrap {
  margin-top: 1px;
}
.dialogs_new_msg .dialogs_del_wrap {
  margin-top: 2px;
}
.dialogs_row_over .dialogs_del_wrap,
.dialogs_row_over.dialogs_group_row .dialogs_star_wrap {
  display: block;
}
.dialogs_del_wrap:hover,
.dialogs_star_wrap:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.dialogs_del {
  cursor: pointer;
  background: url(/images/pics/statusx_op.gif) no-repeat;
  height: 11px;
  width: 11px;
}
.dialogs_blocked_box .dialogs_typing_box {
  display: none !important;
}
.dialogs_typing_box {
  color: #66819F;
  position: absolute;
  top: 50%;
  margin-left: 8px;
  opacity: 0.0;
}
.dialogs_typing_box .dialogs_typing_icon {
  background-image: url('/images/typing_dialogs.gif');
  width: 15px;
  height: 11px;
  display: inline-block;
  margin-right: 8px;
}
.dialogs_block_box {
  color: #999999;
  position: absolute;
  top: 50%;
  margin-left: 8px;
  margin-top: -7px;
  opacity: 0.0;
}
#im_more_dialogs,
#im_more_friends {
  display: block;
  margin-top: -1px;
  border-top: 1px solid #DAE1E8;
  text-align: center;
  padding: 10px;
}
.im_more {
  display: block;
  margin: 0 10px 10px;
}
.im_morenew {
  display: block;
  margin: 10px 10px 0px;
}
.im_more_progress {
  display: none;
  padding: 10px 10px 11px;
  /* border */
  background: url(/images/upload.gif) 50% 50% no-repeat;
}
.im_more_text {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #DAE1E8;
}
.im_more_loading {
  cursor: default;
}
.im_more_loading .im_more_text {
  display: none;
}
.im_more_loading .im_more_progress {
  display: block;
}
#im_more_dialogs:hover,
#im_more_friends:hover {
  text-decoration: none;
  background: #E9EDF1;
}
.im_more:hover,
.im_morenew:hover {
  text-decoration: none;
}
.im_more:hover .im_more_text,
.im_morenew:hover .im_more_text {
  background: #E9EDF1;
}
/* Conversation log */
.im_log_t {
  /* margin: 0 71px 0 auto; */
  width: 100%;
}
.im_log_t td {
  border-top: 5px solid #FFF;
  padding: 5px;
  vertical-align: top;
}
.im_log_t td td {
  border-top: none;
}
.im_log_t #html5_player td {
  border-top: 0;
}
.im_unread_bar {
  margin: 10px -5px 16px;
  color: #8D8F91;
  text-align: center;
  height: 7px;
  border-bottom: 1px solid #DCE3E9;
}
.im_unread_bar_wrap {
  background: #FFF;
  padding: 0 9px;
}
.im_unread_bar_text {
  padding-left: 3px;
  padding-right: 14px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAJCAYAAAD+WDajAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjExR/NCNwAAAClJREFUKFNjYICC1Ws3/IdhmBicpqcksl3obLCDsClAcTFe18JMQNYBAMt0XdqbrQHWAAAAAElFTkSuQmCC) no-repeat right 3px;
}
.im_log_t .im_in,
.im_log_t .im_out {
  cursor: pointer;
}
.im_log_t .im_chat_event {
  cursor: default;
}
.im_log_t .wall_module .post_media {
  width: auto;
}
.im_log_t .post_media td {
  border-top: 0;
}
.im_log_author {
  text-align: right;
  padding-right: 10px !important;
  width: 32px;
}
.im_log_author a {
  color: #8FAAC7;
  font-weight: bold;
}
.im_in .im_log_author a {
  color: #2B587A;
}
div.im_log_author_chat_thumb {
  width: 32px;
  height: 32px;
  overflow: hidden;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  text-align: right;
}
img.im_log_author_chat_thumb {
  width: 32px;
}
.im_log_author_chat_name {
  padding-bottom: 1px;
  margin-top: -1px;
  color: #777;
}
.im_new_msg .im_log_author_chat_name {
  color: #738392;
}
.im_log_author_chat_name .mem_link,
.im_log_author_chat_name .im_chat_link,
.im_log_author_chat_name .group_link {
  font-weight: bold;
}
.im_log_body {
  line-height: 150%;
  width: 356px;
  /* vertical-align: middle ! important; */
}
.im_log_body div.wrapped,
.im_log_body .wall_module .post_media,
.im_single_log .im_log_body div.im_fwd_log_wrapped {
  width: 350px;
  overflow: visible;
}
.im_log_body div.im_fwd_log_wrapped .post_media {
  width: 290px;
  padding-top: 0;
}
.im_log_body div.im_fwd_log_wrapped .im_msg_media_doc .post_media {
  width: auto;
  padding-top: 8px;
}
.im_log_body div.im_fwd_log_wrapped .media_desc {
  padding-top: 3px;
}
.im_fwd_log_body div.wrapped,
.im_log_body div.wrapped {
  padding-left: 4px;
  margin-left: -4px;
}
.im_fwd_log_body .explain {
  color: #777;
  line-height: 140%;
}
.im_log_body .wall_module .video {
  *position: static;
}
.im_log_body .wall_module .video div {
  *display: none;
}
.wall_module .im_msg_media .post_media {
  padding-top: 4px;
}
.im_log_body .im_log_match {
  background: #E1E7ED;
  border-bottom: 1px solid #DAE1E8;
  margin: 0px;
  padding: 0px 1px;
}
.im_msg_media_photo {
  min-height: 87px;
  *height: 87px;
  display: inline-block;
}
.wall_module .im_msg_media_photo .post_media {
  width: auto;
  margin-right: 10px;
}
.im_msg_media_doc,
.im_msg_media_video {
  display: inline-block;
}
.im_msg_media_doc .media_desc {
  width: 350px;
}
.wall_module .im_msg_media_doc .post_media,
.wall_module .im_msg_media_video .post_media {
  width: auto;
  margin-right: 10px;
}
.wall_module .im_msg_media_doc .post_media .media-desc {
  padding: 0px;
}
.im_msg_media_video {
  height: 105px;
  overflow: hidden;
}
img.im_video_thumb {
  max-height: 98px !important;
}
img.im_photo_thumb {
  max-height: 87px !important;
}
.im_audio_filler {
  height: 45px;
}
.im_photo_filler {
  height: 87px;
}
.im_video_filler {
  height: 98px;
}
.im_doc_filler {
  height: 27px;
}
.im_forward_filler {
  height: 100px;
}
.im_log_act {
  padding-left: 10px !important;
  width: 67px;
}
.im_log_date {
  padding-left: 8px !important;
  color: #999;
  width: 52px;
  /* width: 110px; */
}
.im_date_link,
.im_date_link a {
  color: #999;
}
.im_log_act div.im_log_check_wrap,
.im_log_ract div.im_log_context_wrap {
  visibility: hidden;
  zoom: 1;
  pointer-events: none;
}
.im_log_rspacer {
  width: 59px;
}
.im_new_msg .im_log_author,
.im_new_msg .im_log_body,
.im_new_msg .im_log_date {
  background: #EDF1F5;
}
.im_new_msg .im_log_body .audio.over .area {
  background: #DAE1E8;
}
.im_new_msg .im_log_body .audio.over .duration {
  color: #788594;
}
.im_sel_row .im_log_author,
.im_sel_row .im_log_body,
.im_sel_row .im_log_date,
.im_sel_row {
  background: #EDF1F5;
}
.im_sel_row div.im_log_check_wrap,
.im_msg_over div.im_log_check_wrap,
.im_msg_over div.im_log_context_wrap {
  visibility: visible;
}
.im_sel_row .im_log_check {
  background-position: 0 -65px;
}
.im_new_msg .im_log_date a.im_date_link,
.im_sel_row .im_log_date a.im_date_link,
.im_new_msg .im_log_date .im_date_link a,
.im_sel_row .im_log_date .im_date_link a,
.im_new_msg .im_log_date .im_date_link,
.im_sel_row .im_log_date .im_date_link,
.im_new_msg .im_fwd_log_date,
.im_sel_row .im_fwd_log_date {
  color: #879BB0;
}
.im_new_msg .wall_module .media_desc .lnk,
.im_sel_row .wall_module .media_desc .lnk,
.im_new_msg .im_media_mail_title,
.im_sel_row .im_media_mail_title {
  color: #6A7989;
}
.im_del_row {
  background: #F4EBD6;
}
.im_del_row td {
  background: #F4EBD6 !important;
  padding-bottom: 4px;
  border-bottom: 1px solid #ECE4CF;
}
.im_del_row .im_log_body {
  color: #7F7661;
}
.im_spam_row .im_log_body {
  color: #728292;
}
.im_marked_res {
  padding-top: 9px;
}
.im_add_row .im_marked_res {
  padding-top: 3px;
}
.im_spam_row {
  background: #E0E7EC;
}
.im_spam_row td {
  padding-bottom: 4px;
  border-bottom: 1px solid #DADFEA;
}
.im_del_row .im_date_link,
.im_spam_row .im_date_link {
  display: none;
}
.im_log_t td.im_log_act {
  padding: 4px;
  /* border-bottom-color: #FFF !important; */
}
.im_log_check,
.im_log_context {
  cursor: pointer;
  width: 21px;
  height: 16px;
  background: url(/images/icons/plus_icon1.gif?2) 0 -44px no-repeat;
  margin-top: 9px;
}
.im_log_context {
  background-position: 0 -84px;
  margin-top: 8px;
}
.im_log_check_on {
  background-position: 0 -65px;
}
.im_add_row td {
  border-top: 0;
}
.im_rows_group_wrap .im_date_link {
  position: absolute;
  right: 85px;
}
.im_add_row .im_log_author a,
.im_add_row .im_who,
.im_add_row .im_log_date span,
.im_add_row .im_log_date a.im_date_link,
.im_add_row .im_log_date .im_date_link,
.im_add_row .im_log_author_chat_thumb,
.im_add_row .im_log_author_chat_name {
  display: none;
}
.im_add_row .im_log_check {
  margin-top: 1px;
}
.im_add_row .im_log_date .im_log_date_error {
  display: inline;
  color: #800;
}
.im_attach_photo,
.im_attach_video,
.im_attach_doc,
.im_attach_mail,
.im_attach_audio,
.im_attach_geo,
.im_attach_wall,
.im_attach_gift,
.im_attach_link,
.im_attach_sticker,
.im_attach_market {
  float: left;
  background: url(/images/icons/mono_iconset.png?2) no-repeat 0 0;
  width: 12px;
  height: 12px;
  margin: 3px 4px 2px 0;
}
.im_attach_chronicle {
  float: left;
  background: url(/images/icons/self_destruct.png) no-repeat 0 0;
  width: 13px;
  height: 16px;
  margin: 0px 5px 2px 0;
}
.im_attach_photo {
  background-position: 0px -30px;
}
.im_attach_video {
  background-position: 0px -75px;
}
.im_attach_audio {
  background-position: 0px -222px;
}
.im_attach_doc {
  background-position: 0px -280px;
}
.im_attach_mail,
.im_attach_wall,
.im_attach_wall_reply {
  background-position: 0px -294px;
  margin-top: 4px;
}
.im_attach_geo {
  background-position: 0px -165px;
}
.im_attach_gift {
  background-position: 0px -104px;
}
.im_attach_link {
  background-position: 0px -237px;
}
.im_attach_sticker {
  background-position: 0px -362px;
}
.im_attach_market {
  background-position: 0px -378px;
}
/* Im fwd log */
.im_media_mail_title {
  color: #777;
}
.im_fwd_log_wrap,
.im_wall_log_wrap {
  border-left: 2px solid #C3D1E0;
  padding-left: 10px;
  margin: 10px 0 5px 3px;
}
.im_fwd_log_wrap {
  min-width: 382px;
}
.wall_module .media_desc .audio .title_wrap b {
  background: none;
  width: auto;
  height: auto;
  margin: 0;
}
.im_fwd_log_row .audio .title_wrap,
.im_fwd_log_row .post_media .audio .title_wrap {
  width: 220px;
}
.im_fwd_log_row .audio .title_wrap b,
.im_fwd_log_row .post_media .audio .title_wrap b {
  max-width: 155px;
}
.im_fwd_log_t {
  width: 100%;
}
.im_fwd_log_t .im_fwd_log_row td.im_fwd_log_author {
  padding-top: 5px;
}
.im_fwd_log_t .im_fwd_log_row td.im_fwd_log_body {
  padding-top: 5px;
}
.pad_msg_text .im_fwd_log_t .im_fwd_log_row td.im_fwd_log_body {
  padding-left: 10px;
}
.im_fwd_log_body .im_log_author_chat_name {
  display: block;
}
.im_fwd_log_author .im_log_author_chat_thumb a {
  display: inline;
}
.im_fwd_log_author .im_log_author_chat_thumb {
  display: block;
}
.im_fwd_log_date {
  color: #999;
  padding-left: 5px;
}
.im_log_body div.im_fwd_log_wrapped {
  width: 300px;
}
.im_error {
  display: none;
  background-color: #FFEFE8;
  border: 1px solid #E89B88;
  font-size: 1em;
  margin: 8px;
  padding: 8px 11px;
}
/* IM controls */
#im_controls_wrap {
  position: relative;
}
#im_resizer_wrap {
  background-color: #F2F2F2;
  padding: 3px;
  cursor: s-resize;
  *height: 10px;
  *overflow: hidden;
}
.im_resizer {
  width: 40px;
  border-top: 1px solid #DAE1E8;
  border-bottom: 1px solid #FFF;
  margin: 0 auto 1px;
}
#im_footer_filler {
  background: #FFF;
  height: 300px;
  margin: 0 -2px;
  overflow: hidden;
}
#im_footer_sh {
  height: 1px;
  margin: 0 -1px;
  background-color: #D9E0E7;
  border-bottom: 1px solid #F3F3F3;
}
#im_sound_controls {
  background-color: #F2F2F2;
  border-top: 1px solid #DAE1E8;
  padding: 13px 10px;
}
#im_browser_notify {
  display: none;
}
#im_peer_controls_wrap {
  background-color: #F2F2F2;
}
#im_peer_controls {
  border-top: 1px solid #DAE1E8;
  padding: 8px 15px 0 67px;
}
td#im_user_holder {
  width: 50px;
  padding-right: 10px;
  vertical-align: top;
}
img.im_user_holder {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
td#im_peer_holders {
  width: 130px;
  padding-left: 10px;
  vertical-align: top;
}
.im_photo_holder {
  width: 50px;
  height: 50px;
  margin-right: 8px;
  overflow: hidden;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.im_photo_holder img {
  width: 50px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.im_status_holder {
  width: 50px;
  padding: 3px 0;
  color: #999;
  text-align: center;
}
.im_peer_mini_holder {
  padding-bottom: 4px;
}
.im_peer_mini_holder:nth-child(2) {
  margin-right: 60px;
}
.im_peer_mini_holder .im_photo_holder {
  width: 23px;
  height: 23px;
  margin-right: 4px;
  overflow: hidden;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.im_peer_mini_holder .im_photo_holder img {
  width: 23px;
}
.im_status_online {
  margin-left: 17px;
  position: relative;
  top: -8px;
  width: 4px;
  height: 4px;
  border: 1px solid #EEE;
  background: #8fa9c7;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  z-index: 10;
}
.im_write_form {
  vertical-align: top;
}
#im_texts {
  /*position: *relative;*/
  position: relative;
  padding-bottom: 6px;
}
.im_txt_wrap {
  position: relative;
}
.im_txt {
  width: 328px;
  height: 42px;
  padding: 3px 25px 3px 3px;
  margin: 0;
  outline: 0;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  resize: none;
  line-height: 150%;
}
.im_txt_warn {
  display: none;
  padding-top: 5px;
  color: #777;
}
#im_send_wrap {
  position: relative;
}
.im_send_cont {
  margin-right: 2px;
}
#im_add_media {
  padding: 6px 0px 0;
}
#im_chat_actions,
#im_to_dialog {
  display: none;
  position: relative;
}
.im_media_progress {
  background-position: 50% 50%;
}
.im_attach_label {
  font-weight: bold;
  padding-top: 3px;
}
.im_preview_photo_wrap,
.im_preview_video_wrap {
  margin: -1px 9px 7px -1px;
}
.im_preview_doc_wrap,
.im_preview_mail_wrap,
.im_preview_audio_wrap {
  padding: 5px 0px;
}
.im_preview_doc_wrap .pam_dpic {
  padding: 1px;
}
#im_media_dpreview .im_preview_doc_wrap {
  width: 100px;
  height: 75px;
  margin: -1px 9px 7px -1px;
}
#im_media_mpreview .im_preview_map_wrap {
  padding: 0 10px 8px 0;
}
div.im_preview_photo,
div.im_preview_video {
  position: relative;
  padding: 1px;
  height: 42px;
  overflow: hidden;
  cursor: pointer;
  z-index: 120;
}
div.im_preview_video,
.im_preview_video_thumb {
  width: 75px;
  overflow: hidden;
}
.im_preview_video_thumb {
  height: 42px;
  display: inline-block;
  background-size: cover;
  background-position: center;
}
.im_preview_share_microdata {
  padding-left: 17px;
  margin-top: 3px;
}
.im_preview_up div.im_preview_photo,
.im_preview_up div.im_preview_video {
  position: absolute;
}
div.im_preview_photo_doc {
  width: 100px;
  min-height: 30px;
  background: #000000;
  text-align: center;
}
.im_preview_photo_doc img {
  display: block;
}
.im_preview_doc_photo_hint {
  width: 92px;
  *width: 100px;
  text-align: center;
  color: #FFFFFF;
  background: #000000;
  padding: 2px 4px;
  font-size: 0.81em;
  margin-bottom: 5px;
  *background: #000000;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  margin-top: -18px;
  height: 14px;
  line-height: 14px;
  *height: 18px;
}
.im_preview_share {
  display: inline-block;
}
.im_preview_share_wrap {
  margin-bottom: 5px;
}
.im_preview_share_title {
  font-weight: bold;
  color: #446790;
  width: 335px;
  max-height: 2.4em;
  overflow: hidden;
}
.im_preview_share_domain {
  color: #777777;
  margin-top: 2px;
  padding-left: 17px;
}
.im_preview_share_img_wrap {
  width: 50px;
  overflow: hidden;
  max-height: 60px;
  margin: 5px 5px 0 0;
}
.im_preview_share_img {
  width: 100%;
}
.font_medium .im_preview_doc_photo_hint {
  width: 96px;
  padding: 2px;
}
.font_medium .im_preview_doc_photo_hint span.fl_l {
  display: inline-block;
  max-width: 51px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.im_doc_photo {
  width: 130px;
  height: 100px;
  background: #000000;
  text-align: center;
}
.wall_module .photo .im_doc_photo img {
  max-height: none;
}
.im_doc_photo_hint {
  width: 110px;
  text-align: center;
  color: #FFFFFF;
  *background: #000000;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  margin-top: -18px;
  height: 14px;
  *height: 18px;
  padding: 2px 10px;
  font-size: 0.81em;
  margin-bottom: 5px;
  z-index: 1;
}
.im_doc_photo_href:hover {
  text-decoration: none;
}
#im_media_preview,
#im_media_dpreview,
#im_media_mpreview {
  position: relative;
  margin-bottom: 0;
}
#im_docs_preview {
  position: relative;
}
#im_media_preview .im_media_x,
#im_media_dpreview .im_media_x,
#im_media_mpreview .im_media_x {
  position: relative;
  z-index: 105;
  background: #222;
  background: rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 3px;
  cursor: pointer;
  margin-left: -13px;
}
#im_media_preview .im_media_x:hover .im_x,
#im_media_dpreview .im_media_x:hover .im_x,
#im_media_mpreview .im_media_x:hover .im_x {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
#im_docs_preview .im_media_x,
#im_sdocs_preview .im_media_x {
  cursor: pointer;
  margin: 6px 5px 0px;
  background: url(/images/pics/statusx_op.gif) no-repeat 0 0;
  opacity: 0.6;
  filter: alpha(opacity=60);
  height: 11px;
  width: 11px;
}
#im_sdocs_preview .im_preview_share_wrap .im_media_x {
  margin-top: 2px;
  margin-bottom: 1px;
  vertical-align: bottom;
}
#im_sdocs_preview .medadd_h_share {
  display: inline-block;
  max-width: 314px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#im_media_dpreview .pam_dpic .im_media_x {
  position: absolute;
  right: 1px;
  top: 1px;
}
#im_media_preview .im_x,
#im_media_dpreview .im_x,
#im_media_mpreview .im_x {
  display: block;
  background: url("/images/notifier_close.gif") no-repeat scroll 0 0 transparent;
  opacity: 0.6;
  filter: alpha(opacity=60);
  width: 7px;
  height: 7px;
}
#im_reading,
#im_rcpt {
  cursor: default;
  overflow: hidden;
  padding: 6px 0 0 5px;
}
#im_reading {
  color: #777;
  white-space: nowrap;
  overflow: hidden;
  width: 150px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.im_typing_wrap {
  padding: 13px 0 0;
  min-height: 1.7em;
  *height: 1.7em;
  max-height: 2.5em;
}
.im_typing {
  opacity: 0;
  filter: alpha(opacity=0);
  color: #777;
  background: url(/images/icons/typing.gif?1) 0 2px no-repeat;
  margin: 0 144px 0 130px;
  padding: 1px 0 0 20px;
  cursor: default;
}
.im_lastact {
  color: #777;
  margin: 0 144px 0 130px;
  padding: 0px 0px 6px 0px;
  cursor: default;
}
/* Friends list */
#im_friends {
  padding: 0;
  word-wrap: break-word;
}
.im_friend {
  border-bottom: 1px solid #e4e8ed;
  color: #2B587A;
  font-weight: bold;
  padding: 8px 10px;
  height: 43px;
  cursor: pointer;
}
/*.im_friend:last-child {
  border-bottom: 0;
}*/
.im_friend div.name {
  padding: 15px 6px 0;
  width: 150px;
  height: 14px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
}
.im_chat div.name {
  width: 208px;
}
#im_friends_all .im_friend div.name {
  width: 150px;
}
.im_chat .icon {
  width: 17px;
  height: 11px;
  background: url(/images/icons/multichat_icon.png) 0px 0px no-repeat;
  margin: 16px 0 0 4px;
  padding: 0;
}
.im_friend .im_photo {
  width: 43px;
  height: 43px;
  float: left;
  padding-right: 6px;
}
.im_friend img {
  width: 43px;
  height: 43px;
  overflow: hidden;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.im_friend div em,
.im_friend_over div em {
  background-color: #FFF8CC;
  border-bottom: 1px solid #FFE222;
  padding: 0;
  font-weight: bold;
  font-style: normal;
}
.im_friend div.online {
  float: none;
  width: auto;
  height: auto;
  padding-top: 15px;
  color: #738392;
  font-weight: normal;
}
.im_friend_over {
  background: #edf1f5;
}
#im_filter_out {
  clear: both;
  padding: 5px;
  position: relative;
}
#im_filter_out_groups .im_filter,
#im_filter_out .im_filter {
  margin: 0;
  padding: 4px 20px 5px 20px;
  width: 304px;
  height: 15px;
  line-height: 15px;
  background: #FFF url(/images/magglass.png) no-repeat 5px 6px;
}
.im_filter::-ms-clear {
  display: none;
}
.im_filter::-webkit-input-placeholder {
  padding: 0 2px;
}
.im_filter:moz-input-placeholder {
  padding: 0 2px;
}
#im_filter_out_groups .im_filter.im_filter_small {
  width: 158px;
  margin: 5px 5px 0 10px;
}
#im_filter_out .input_back_content {
  height: 15px;
  line-height: 15px;
}
#im_filter_reset {
  cursor: pointer;
  display: none;
  background: transparent url(/images/icons/input_clear.gif) 5px 7px no-repeat;
  padding: 5px;
  width: 11px;
  height: 11px;
  margin-left: -23px;
  opacity: 0.5;
  filter: alpha(opacity=50);
  position: relative;
  z-index: 100;
}
.im_none {
  font-size: 1.09em;
  line-height: 160%;
  margin: 0px 10px;
  padding: 130px 0px;
  text-align: center;
  color: #777;
  display: none;
}
.im_none.im_none_bigger {
  font-size: 1.2em;
}
#transport_frame {
  position: absolute;
  width: 10px;
  height: 10px;
  top: -100px;
}
/* Scroll with fixed head and side menu */
.im_fixed_nav,
.im_fixed_nav .scroll_fix_wrap {
  overflow-x: hidden;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .im_fixed_nav,
  .im_fixed_nav .scroll_fix_wrap {
    overflow-x: visible;
  }
}
.im_fixed_nav #wrap1,
.im_fixed_nav #wrap3 {
  border-bottom: 0px;
}
.im_fixed_nav #page_header,
.im_fixed_nav #side_bar {
  position: fixed;
  z-index: 120;
}
.im_fixed_nav_loading #page_header {
  top: 0;
  width: 791px;
}
.im_fixed_nav #side_bar {
  top: 40px;
  z-index: 119;
}
.im_fixed_nav #im_nav_wrap {
  background: #fff;
  top: 40px;
  width: 627px;
}
.im_fixed_nav #im_controls_wrap {
  width: 627px;
  bottom: -2px;
}
.im_fixed_nav #im_nav_wrap,
.im_fixed_nav #im_controls_wrap {
  position: fixed;
  z-index: 101;
}
.im_fixed_nav #im_controls_wrap {
  z-index: 103;
}
.im_fixed_nav #im_rows_wrap {
  height: auto;
}
.im_fixed_nav #footer_wrap {
  display: none;
}
.im_fixed_nav_loading #im_content {
  padding: 121px 0 110px;
}
.im_fixed_nav_loading #im_rows {
  height: 2000px;
}
.im_fixed_nav_loading .im_peer_rows {
  visibility: hidden;
}
.im_fixed_nav_loading #im_fixed_nav_progress_wrap {
  position: relative;
}
.im_fixed_nav_loading #im_fixed_nav_progress {
  position: absolute;
  width: 631px;
  padding: 100px 0;
  height: 20px;
  background: url(/images/progress7.gif) 50% 50% no-repeat;
}
#im_rows_wrap {
  overflow: hidden;
}
#im_rows_wrap.im_rows_group_wrap {
  overflow: visible;
}
#im_rows_wrap.im_rows_group_wrap .im_important_toggler {
  display: none;
}
.im_rows {
  padding: 10px 0 0;
}
#im_rows0,
#im_rows-1 {
  padding: 0;
}
#im_rows {
  position: relative;
}
.im_fixed_nav .im_peer_rows {
  position: absolute;
  bottom: 0;
  width: 100%;
}
/* Multi styles */
#im_friends_all_wrap,
#im_friends_sel_wrap {
  width: 290px;
  padding: 0 10px;
  vertical-align: top;
}
#im_friends_all_wrap {
  border-right: 1px solid #DBDEE5;
}
#im_friends_yes_wrap {
  display: none;
}
#im_friends_none {
  padding: 60px;
  color: #767676;
  font-size: 1.09em;
  text-align: center;
  line-height: 160%;
}
#im_friends_sel_count {
  padding: 15px;
  color: #767676;
  text-align: center;
}
#im_chat_title_input {
  margin: 0 0 10px;
  width: 152px;
}
#im_friends_sel_stats {
  width: 160px;
  margin: 0 auto;
}
#im_chat_start_wrap {
  text-align: center;
}
#im_chat_start {
  width: 158px;
}
#im_write,
#im_leave,
#im_appoint {
  float: none;
  padding-bottom: 0;
}
#im_friends_multi {
  display: none;
}
.im_chat_event .im_log_body {
  color: #777;
}
#im_chatbox_list_members {
  margin-top: -5px;
  width: 100%;
}
.im_chatbox_list_wrap {
  padding: 15px 20px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 300px;
  position: relative;
}
.im_chatbox_list_head {
  margin-bottom: 3px;
}
.im_chatbox_mem_wrap {
  padding-top: 15px;
}
div.im_chatbox_mem_photo {
  padding-right: 15px;
  width: 50px;
  height: 50px;
  overflow: hidden;
}
img.im_chatbox_mem_photo {
  width: 50px;
  height: 50px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.im_chatbox_mem_name {
  font-weight: bold;
}
.im_chatbox_mem_online {
  font-weight: normal;
  color: #777;
  padding-left: 5px;
}
.im_chatbox_mem_info,
.im_chatbox_mem_controls {
  width: 190px;
  padding-top: 5px;
  color: #777;
}
.im_chatbox_mem_desc {
  padding-top: 5px;
}
.im_chatbox_mem_controls {
  padding-left: 10px;
  width: 185px;
}
.im_chatbox_mem_kick {
  display: block;
  margin-top: 8px;
  background: url(/images/pics/statusx_op.gif) no-repeat 0 0;
  height: 11px;
  width: 11px;
  opacity: 0.6;
  filter: alpha(opacity=60);
  z-index: 99999;
}
.im_chatbox_mem_kick:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
#im_chatbox_sh {
  position: absolute;
  width: 100%;
  height: 3px;
  z-index: 100;
  background: #555;
  opacity: 0.12;
  filter: alpha(opacity=12);
  display: none;
  margin-top: -2px;
}
.im_change_topic_label {
  padding-top: 2px;
  padding-right: 10px;
  color: #777;
}
#im_change_topic_val {
  width: 142px;
}
/* IM submit hint */
.im_submit_hint_wrap {
  width: 210px;
  /*height: 110px;*/
  /* padding: 10px; */
  padding: 8px 5px 8px;
}
.im_submit_hint_title {
  color: #2A5779;
  font-weight: bold;
  padding-bottom: 2px;
}
#im_submit_hint_opts .radiobtn {
  color: #000;
  padding: 10px 0 5px 19px;
  line-height: 160%;
  position: relative;
}
#im_submit_hint_opts .radiobtn div {
  position: absolute;
  left: 0;
  top: 12px;
  /*margin: 2px 5px 6px 0;*/
}
.im_submit_side_tt .side_sh {
  display: table-cell !important;
}
.im_submit_tail_wrap {
  left: 233px;
  position: absolute;
  /*top: 107px;*/
  bottom: 18px;
  z-index: 2001;
}
.im_submit_tail {
  background: url(/images/ddtooltip.png) -8px 0 no-repeat;
  width: 8px;
  height: 11px;
}
.im_friend_not_found {
  color: #6b839d;
  padding: 17px 10px;
  text-align: center;
  background: #edf0f5;
  border-bottom: 1px solid #E4E8ED;
}
.im_find_in_mail {
  color: #6b839d;
  padding: 17px 10px;
  text-align: center;
  border-bottom: 1px solid #E4E8ED;
  font-weight: normal;
  height: auto;
  display: block;
}
.im_find_in_mail:hover {
  text-decoration: none;
}
.im_find_in_mail.im_friend_over {
  background: #edf1f5;
}
.im_find_mail {
  padding-left: 24px;
  line-height: 13px;
  height: 13px;
  padding-top: 1px;
  vertical-align: baseline;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAUZJREFUeNqMkr8vQ1EYhu+91UZEJBgsIgaDRSTiDxAhBmYRjUEiWA21IBELwUDsOhltDGLwDzBZmnZoQg0IBjSRaK/nk1dyenToSZ689/x4v++75zthHMdBvbGXPe9A+iGEXGZ+8sXdD30jhk4kA6MQadkOXcE+AZ7+GTG1I1nohioUIAm9CvIIc5hfI6/CFZnswCwH0jDN9wyUoAtWazKSrQ25hAQsY7j2fmFA1VglE27GHpk+4ca/LALdIm8quc81VqVJBfAvLdKejYprLMIXpGC8TodGoBW+Ie/f6iYyBWXYgQttWWvWZDyl7O0mxzSMjGnaAluwrnlKmofD4K/BmIaQA2hWK07gXQbjQ2sLZCv/tmP3+GwQPVIWexWLbJYIllBP7cnds1apeXIY7T/smT3DEgfuggaGlboBD2p6QyYbPwIMAO1DaoCmlSAuAAAAAElFTkSuQmCC) no-repeat left 0px;
}
.is_rtl1 .im_find_mail {
  padding-left: 0px;
  padding-right: 24px;
  background-position: right 0px;
}
/* IM mail forward */
.media_mail_icon {
  float: left;
  background: url(/images/icons/mono_iconset.png?1) no-repeat 0 -294px;
  width: 11px;
  height: 11px;
  margin-right: 3px;
  margin-top: 3px;
}
.im_preview_mail_wrap .media_mail_icon {
  margin-left: 3px;
}
.im_single_log_wrap {
  max-height: 600px;
  *height: 600px;
  max-width: 5000px;
  overflow: auto;
  position: relative;
}
.im_single_log_wrap .im_log_body {
  width: 5000px;
}
.im_single_log {
  padding: 5px 10px;
  position: relative;
}
.im_single_log_no_author {
  padding-top: 0;
  padding-bottom: 10px;
}
.im_browse_msg_images {
  padding-top: 4px;
}
.im_failed .im_log_author,
.im_failed .im_log_body,
.im_failed .im_log_date {
  background: #FDF5F2;
}
.im_write {
  background: #F7F7F7;
  padding: 8px 103px 70px;
}
.imw_header {
  color: #45688E;
  line-height: 1.27em;
  margin: 0px;
  padding: 24px 0px 9px;
  font-size: 1.09em;
}
#imw_ava {
  position: absolute;
  margin: 27px -62px 0px;
}
#imw_ava .wdd_img_layer {
  background: #F7F7F7;
}
#limw_inp {
  width: 382px;
  font-size: 1em;
  font-family: Tahoma, Verdana, Arial, Sans-Serif, Lucida Sans;
}
#imw_attach {
  margin: 6px 0px 0px;
}
.imw_text_wrap {
  padding-bottom: 14px;
}
#imw_text {
  width: 389px;
  height: 90px;
  padding: 5px 25px 5px 5px;
  vertical-align: top;
  margin: 0px;
  outline: 0;
}
#imw_editable {
  width: 389px;
  min-height: 90px;
  max-height: 400px;
  padding: 5px 25px 5px 5px;
  vertical-align: top;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  margin: 0;
  overflow: auto;
}
.is_rtl1 #imw_text,
.is_rtl1 #imw_editable {
  padding: 5px 5px 5px 25px;
}
#imw_warn {
  color: #777;
  padding-bottom: 14px;
  display: none;
}
#imw_media_preview {
  padding-bottom: 6px;
  display: none;
}
#imw_title_wrap {
  display: none;
}
#imw_title {
  width: 409px;
  padding: 6px 5px 8px;
}
.im_title_wrap {
  padding-bottom: 8px;
  display: none;
}
.im_title {
  width: 350px;
}
.im_subj {
  font-weight: bold;
  margin: 2px 0px 4px;
}
.dialogs_msg_text .im_subj {
  margin-top: 0px;
}
#im_rows .im_wall_log_wrap .wall_post_text,
#im_rows .im_wall_log_wrap .wall_text {
  width: 290px;
}
#im_rows .published_by_quote .im_wall_log_wrap .wall_post_text,
#im_rows .published_by_quote .im_wall_log_wrap .wall_text {
  width: 280px;
}
#im_rows .page_poll_code {
  display: none;
}
.im_switch_notify {
  background: #FFFFFF;
  color: #000000;
  width: 340px;
  padding: 13px 12px;
  border: 1px solid #96AABE;
  background: #FFF;
  line-height: 160%;
}
.im_switch_notify_btn {
  padding-top: 7px;
}
.im_switch_notify_title {
  padding-bottom: 2px;
}
.im_switch_notify_pointer {
  left: 20px;
  background: url(/images/ddtooltip.png) 0px -5px no-repeat;
  width: 16px;
  height: 8px;
  position: absolute;
  bottom: -5px;
  overflow: hidden;
  z-index: 10;
}
b.im_status_mob_onl {
  background-position: -31px 0px;
  *background-position: -31px -1px;
}
b.dialogs_mob_onl {
  background-position: -1px 0px;
  *background-position: -1px -1px;
}
.dialogs_row_over b.dialogs_mob_onl,
.dialogs_new_msg b.dialogs_mob_onl {
  background-position: -21px 0px;
  *background-position: -21px -1px;
}
b.im_friend_mob_onl {
  background-position: -11px 0px;
  *background-position: -11px -1px;
}
/* Suspicious messages */
.im_msg_susp_title {
  color: #777;
}
.im_msg_susp_wrap_done .im_msg_susp_title,
.im_msg_susp_wrap_opened .im_msg_susp_title,
.im_msg_susp_wrap .im_fwd_log_wrap,
.im_msg_susp {
  display: none;
}
.im_msg_susp_wrap_opened .im_msg_susp,
.im_msg_susp_wrap_done .im_msg_susp,
.im_msg_susp_wrap_done .im_fwd_log_wrap {
  display: block;
}
/* Emoji */
.im_editable {
  background: #FFFFFF;
  color: black;
  border: 1px solid #C0CAD5;
  width: 328px;
  min-height: 40px;
  padding: 3px 25px 3px 3px;
  padding-bottom: 5px;
  margin-bottom: 3px;
  outline: 0;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  line-height: 150%;
  word-wrap: break-word;
  cursor: text;
}
.im_txt_wrap.im_editable_txt.im_editable_txt_disabled .im_editable {
  background: #F5F5F5;
  pointer-events: none;
}
.im_editable p {
  margin: 0px;
  padding: 0px;
}
#im_smile,
#imw_smile {
  position: absolute;
  /* z-index: 100; */
  padding: 0px;
  margin: 1px 1px 0px 0px;
  right: 0px;
  cursor: pointer;
}
.is_rtl1 #imw_smile {
  left: 0px;
  right: auto;
}
.im_write .editable_thumbs_wrap {
  width: 350px;
}
#imw_smile .emoji_smile_icon_on {
  background-position: 1px 0px;
}
.im_hidden_textarea {
  position: absolute;
  width: 1px;
  padding: 0px;
  background: #F2F2F2;
  opacity: 0;
  filter: alpha(opacity=0);
  height: 1px;
  border: none;
  resize: none;
}
.im_emoji_done {
  font-size: 1em;
  font-weight: bold;
}
.im_emoji_intro {
  font-weight: bold;
  line-height: 160%;
}
#im_emoji_expand {
  display: none;
  z-index: 100;
  width: 13px;
  height: 13px;
  padding: 7px 6px;
  left: 174px;
  bottom: 3px;
  position: absolute;
}
.im_emoji_expand_icon {
  display: block;
  width: 13px;
  height: 9px;
  background: url('/images/emoji_expand.png?3') 0px 0px no-repeat;
}
.im_emoji_locked .emoji {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.im_emoji_locked:hover .emoji {
  opacity: 1;
  filter: alpha(opacity=100);
}
.im_emoji_unlock_tt .tt_text {
  font-weight: normal;
}
.im_unlock_tt_cont {
  position: absolute;
  width: 220px;
  text-align: center;
  z-index: 100;
  pointer-events: none;
  display: none;
}
.im_unlock_tt {
  display: inline-block;
  background: url('/images/ttb_bg.png');
  background: rgba(0, 0, 0, 0.7);
  border-radius: 3px;
  padding: 4px 7px 4px;
  color: #FFFFFF;
  font-size: 1em;
  text-align: center;
}
.im_unlock_pointer {
  position: absolute;
  background: url(/images/icons/like_icons_bl.png) -2px -47px no-repeat;
  width: 13px;
  height: 7px;
  margin-left: 104px;
  margin-top: 0px;
}
#im_emoji_info {
  display: block;
  text-shadow: 0px 1px 1px #000;
  padding: 3px 0px 3px;
  color: #BBB;
  line-height: 160%;
  text-align: center;
}
.im_emoji_info_link {
  color: #BBB;
  font-weight: bold;
}
.im_emoji_info_link:hover {
  color: #EEE;
  text-decoration: none;
}
.im_write .wdd_text {
  width: 380px;
}
.dialogs_msg_text .emoji_css,
.dialogs_msg_text .emoji {
  vertical-align: middle;
}
.im_preview_photo {
  max-width: 80px;
}
.im_preview_audio_wrap .medadd_aud {
  width: 330px;
}
.im_preview_audio_wrap .medadd_aud .title_wrap {
  width: 260px;
}
#imw_media_preview .medadd_aud {
  width: 390px;
}
#imw_media_preview .medadd_aud .title_wrap {
  width: 320px;
}
#im_rcemoji {
  width: 400px;
}
.im_rc_emojibtn {
  display: inline-block;
  *display: block;
  zoom: 1;
  padding: 3px 2px;
}
.im_rc_emojibtn:hover {
  background: #D5DDE5;
  text-decoration: none;
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.im_rc_emojibtn:active {
  background: #C9D2DB;
}
.im_rcem_cont {
  width: 156px;
  overflow: hidden;
  padding: 1px 0px 0px 4px;
}
.im_peer_multi .im_rcem_cont {
  width: 132px;
}
.font_medium .im_peer_multi .im_rcem_cont {
  width: 111px;
}
#imw_buttons .im_rcem_cont {
  padding: 1px 6px 0px;
}
.im_gift_intro {
  color: #777777;
  padding: 0px 0px 2px;
}
.im_gift_text {
  padding-top: 2px;
}
.im_log_body .im_gift_row {
  display: block;
  margin: 15px auto;
  width: 256px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #FFF;
  padding: 6px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}
.im_gift_msg .im_log_body,
.im_gift_msg .im_log_author,
.im_gift_msg .im_log_date {
  background: #F4EBD6;
}
.im_gift_msg .im_log_author_chat_name,
.im_gift_msg .im_date_link {
  color: #7F7661;
}
.im_gift_msg.im_sel_row .im_log_date a.im_date_link,
.im_gift_msg.im_sel_row .im_log_date .im_date_link a,
.im_new_msg.im_gift_msg .im_log_date .im_date_link a,
.im_new_msg.im_gift_msg .im_log_date a.im_date_link {
  color: #7F7661;
}
.im_gift_msg .im_msg_text {
  text-align: center;
  font-family: Georgia, Lucida Grande, Arial, tahoma, verdana, sans-serif;
  font-size: 15px;
  color: #6a614a;
  padding: 0px 0px 10px;
}
.im_sticker_row {
  padding: 7px;
}
#im_search_btn {
  margin: 0 10px;
}
#im_search_cancel {
  padding: 6px 7px 7px;
  cursor: pointer;
  color: #2B587A;
  margin: 0 -5px;
}
#im_search_cancel:hover {
  background: #E1E7ED;
}
.im_chronicle_img {
  position: absolute;
  margin: -10px 0px 0px -10px;
  width: 320px;
  height: 170px;
  background-position: center center;
  background-size: 300px auto;
}
.im_chronicle_blur {
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}
.im_chronicle_blur_cont {
  position: relative;
  width: 300px;
  height: 150px;
  overflow: hidden;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  margin-top: 5px;
}
.im_chronicle_txt {
  font-size: 14px;
  color: #FFFFFF;
  opacity: 0.8;
  filter: alpha(opacity=70);
  line-height: 140%;
  padding: 0px 40px;
  width: 300px;
}
.wall_module .im_chronicle_txt td {
  vertical-align: middle;
  height: 148px;
  padding: 0px;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.7);
}
.im_chronicle_name {
  color: #2B587A;
  height: 20px;
  padding: 3px 0px;
  width: 258px;
}
.im_fwd_log_wrap .im_app_row .im_chronicle_desc .im_chronicle_name b {
  background-image: none;
}
.im_chronicle_desc {
  width: 296px;
  padding: 6px 2px;
}
.im_chronicle_icon {
  background-image: url(/images/icons/snap_app.png);
  background-size: 22px 22px;
  background-repeat: no-repeat;
  width: 22px;
  height: 22px;
}
.im_chronicle_sp {
  width: 8px;
}
/* New upload form */
.im_upload_wrap {
  position: absolute;
  z-index: 110;
  padding: 0px;
  margin: 25px 0px 0px 0px;
  right: 1px;
  bottom: 8px;
  /*bottom: 2px;*/
}
.im_upload_wrap .loading {
  display: none;
}
.im_upload_wrap div.im_upload {
  background: url(/images/icons/attach_photo.gif) center 4px no-repeat;
  width: 24px;
  height: 24px;
  overflow: hidden;
  position: relative;
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.im_upload_wrap div.im_upload:hover {
  opacity: 1;
  filter: none;
}
.im_upload_wrap input {
  opacity: 0.01;
  filter: alpha(opacity=1);
  font-size: 6.54em !important;
  right: 0px;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
  position: absolute;
}
.im_upload_dropbox {
  position: absolute;
  z-index: 130;
  display: none;
}
.im_upload_dropbox_inner {
  background: #FFF;
  text-align: center;
  color: #7F92A5;
  font-size: 1.09em;
  border: 1px dashed #A3B6C9;
  padding: 0 5px;
  display: table-cell;
  vertical-align: middle;
  width: 346px;
}
.dropbox_over .im_upload_dropbox_inner {
  background-color: #E1E7ED;
}
.dropbox_over .im_upload_release_label {
  display: inline;
}
.im_upload_release_label,
.dropbox_over .im_upload_drop_label {
  display: none;
}
#im_emoji_progress {
  padding-top: 2px;
}
#im_datesearch_wrap {
  cursor: pointer;
  padding: 5px 0px 0px;
}
#im_search_date {
  width: 19px;
  height: 16px;
  background: url(/images/calendar1.gif?1) no-repeat;
}
.im_cal_clear {
  background: #F2F2F2;
  padding: 5px 0px;
}
.im_cal_clear_lnk {
  display: block;
  padding: 5px 0px;
  text-align: center;
  margin: 0px auto;
}
#im_datesearch_datepicker_container {
  display: inline;
}
#im_datesearch_datepicker_container .datepicker_control {
  display: none;
}
#im_datesearch_datepicker_container .cal_table .day {
  color: #999;
}
#im_datesearch_datepicker_container .cal_table .past_day,
#im_datesearch_datepicker_container .cal_table .today {
  color: #000;
}
.im_no_search_day #im_day_clear,
.im_no_search_day #im_month_clear {
  display: none;
}
#im_datesearch_wrap .cal_frame {
  z-index: 450;
}
#im_datesearch_wrap .cal_div {
  z-index: 480;
}
/* Favorites */
#im_log_fav_btn i {
  background: url(/images/icons/im_actions_iconset2.png?10) 0 -281px no-repeat;
  display: block;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
#im_log_fav_btn.im_log_fav_btn__active i {
  opacity: 0.6;
  filter: alpha(opacity=60);
}
#im_log_fav_btn.im_log_fav_btn__loading i {
  visibility: hidden;
}
.im_important_toggler {
  background: url(/images/icons/im_actions_iconset2.png?10) 0 -258px no-repeat;
  background-color: rgba(255, 255, 255, 0.5);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  display: block;
  width: 20px;
  height: 20px;
  opacity: 0.6;
  filter: alpha(opacity=60);
  position: absolute;
  margin-left: -22px;
  margin-top: 0;
  margin-top: -2px;
  visibility: hidden;
}
.im_msg_over .im_important_toggler {
  visibility: visible;
}
.im_add_row .im_important_toggler {
  margin-top: -1px;
  margin-left: -22px;
}
.im_sel_row .im_important_toggler {
  visibility: visible;
}
.im_important_msg .im_important_toggler {
  background-position: 0 -239px;
  opacity: 1;
  filter: none;
  visibility: visible;
}
.im_sel_row .im_important_toggler,
.im_new_msg .im_important_toggler {
  background-position: 0 -239px;
  background-color: rgba(237, 241, 245, 0.5);
}
#im_important_btn {
  margin-right: 10px;
  padding: 5px 10px 6px;
}
i.im_important_icon {
  background: url(/images/icons/im_actions_iconset2.png?10) -2px -281px no-repeat;
  width: 15px;
  height: 15px;
  cursor: pointer;
  margin-right: 3px;
}
span#im_important_count {
  line-height: 15px;
  /*font-weight: bold;*/
}
#imw_emoji_wrap {
  position: relative;
}
.im_fwd_log_wrapped .page_media_place_label {
  width: 232px;
}
#im_unread_info_msg {
  background: #EDF1F5;
  padding: 16px 11px;
  height: 110px;
  margin-bottom: 3px;
}
.im_unread_info_pic {
  width: 110px;
  height: 110px;
  background: url(/images/pics/newunread.png) no-repeat left top;
}
.is_rtl1 .im_unread_info_pic {
  background-position: right top;
}
.im_unread_info_data {
  width: 480px;
}
.im_unread_info_header {
  font-size: 16px;
  color: #45688E;
  padding: 0px 0px 10px;
}
.im_unread_info_text {
  line-height: 170%;
}
.im_unread_info_read {
  padding-top: 11px;
}
#im_unread_info_hide {
  margin-top: 5px;
}
.im_srv_msg {
  color: #777;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-align: center;
  padding: 2px 5px 6px;
  width: 607px;
}
.im_srv_lnk {
  font-weight: bold;
  color: #888;
}
.dialogs_msg_text .im_srv_lnk {
  color: #67829E;
}
.im_chat_photo_upd {
  padding-top: 12px;
}
.im_chat_photo_img {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.im_stickers_store_wrap {
  position: relative;
  background: #eff1f3;
  border-radius: 0;
  overflow: hidden;
}
.im_stickers_store_wrap .tb_tabs {
  background: #fff;
  position: relative;
  padding: 2px 11px 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.im_stickers_store_wrap .tb_fixed .tb_tabs {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.12);
}
.im_stickers_store_wrap .tb_new .summary_tab3:after {
  content: '';
  background: #f66260;
  border-radius: 50%;
  width: 6px;
  height: 6px;
  float: right;
  margin: 1px 0 0 3px;
}
.box_body .im_stickers_store_wrap {
  border-radius: 5px;
}
.im_stickers_store_close {
  position: absolute;
  right: 0;
  top: 0;
  opacity: .85;
  z-index: 1;
  -o-transition: opacity 0.1s ease;
  -ms-transition: opacity 0.1s ease;
  -moz-transition: opacity 0.1s ease;
  -webkit-transition: opacity 0.1s ease;
  transition: opacity 0.1s ease;
}
.im_stickers_store_close:hover {
  opacity: 1;
}
.im_stickers_store_close .close_icon {
  background: url(/images/stickers_close.png) no-repeat 0 0;
  width: 46px;
  height: 46px;
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.im_stickers_close {
  position: absolute;
  right: 0;
  top: 0;
  margin: 8px;
  padding: 7px;
  opacity: .5;
  z-index: 1;
  -o-transition: opacity 0.1s ease;
  -ms-transition: opacity 0.1s ease;
  -moz-transition: opacity 0.1s ease;
  -webkit-transition: opacity 0.1s ease;
  transition: opacity 0.1s ease;
}
.im_stickers_close:hover {
  opacity: 1;
}
.im_stickers_close .emoji_sprite {
  background-position: -60px -42px;
  width: 12px;
  height: 12px;
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.im_stickers_banners_wrap {
  position: relative;
}
.im_stickers_banners_wrap .isb_arrow_left,
.im_stickers_banners_wrap .isb_arrow_right {
  position: absolute;
  width: 78px;
  height: 100%;
  cursor: pointer;
  opacity: 0;
  -o-transition: opacity 0.2s ease;
  -ms-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  -o-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.im_stickers_banners_wrap:hover .isb_arrow_left,
.im_stickers_banners_wrap:hover .isb_arrow_right {
  opacity: .75;
}
.im_stickers_banners_wrap .isb_arrow_left:hover,
.im_stickers_banners_wrap .isb_arrow_right:hover {
  opacity: 1;
}
.im_stickers_banners_wrap .isb_arrow_left {
  background-color: rgba(0, 0, 0, 0.16);
  background: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(0, 0, 0, 0.16)), to(rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.16), rgba(0, 0, 0, 0));
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.16), rgba(0, 0, 0, 0));
  background: -ms-linear-gradient(left, rgba(0, 0, 0, 0.16), rgba(0, 0, 0, 0));
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0.16), rgba(0, 0, 0, 0));
  left: 0;
}
.box_body .im_stickers_banners_wrap .isb_arrow_left {
  border-radius: 5px 0 0 0;
}
.im_stickers_banners_wrap .isb_arrow_right {
  background-color: rgba(0, 0, 0, 0);
  background: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.16)));
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.16));
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.16));
  background: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.16));
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.16));
  right: 0;
}
.box_body .im_stickers_banners_wrap .isb_arrow_right {
  border-radius: 0 5px 0 0;
}
.im_stickers_banners_wrap .isb_arrow_hidden {
  opacity: 0 !important;
  pointer-events: none;
}
.im_stickers_banners_wrap .isb_arrow {
  background: url(/images/icons/store_arrows.png?1) no-repeat 0 center;
  position: absolute;
  left: 0;
  width: 19px;
  height: 100%;
  margin: 0 12px;
}
.im_stickers_banners_wrap .isb_arrow_right .isb_arrow {
  background-position: -19px center;
}
.im_stickers_banners_wrap .isb_arrow_right .isb_arrow {
  background-position: -19px center;
  left: auto;
  right: 0;
}
.im_stickers_banners {
  white-space: nowrap;
  overflow: hidden;
}
.im_stickers_banner_thumb {
  vertical-align: top;
}
.im_stickers_bl_wrap {
  padding: 8px 8px 9px;
}
.im_stickers_my_cont {
  overflow: hidden;
}
.im_stickers_my_tip {
  background: #f2f2f2;
  color: #808080;
  text-align: center;
  margin: 12px 15px 0;
  padding: 15px 10px;
}
#im_stickers_my_wrap {
  padding: 4px 15px 10px;
  position: relative;
}
#im_stickers_deact {
  padding: 0px 15px 10px;
  position: relative;
  overflow: hidden;
}
.im_sticker_bl {
  width: 296px;
  margin: 8px;
  padding: 0;
  display: block;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  position: relative;
  top: 0;
  -o-transition: top 0.1s ease-out;
  -ms-transition: top 0.1s ease-out;
  -moz-transition: top 0.1s ease-out;
  -webkit-transition: top 0.1s ease-out;
  transition: top 0.1s ease-out;
}
.im_sticker_bl:hover {
  text-decoration: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);
  top: -2px;
}
.im_sticker_bl .flat_button {
  padding: 7px 9px 8px;
}
.im_sticker_bl_demo {
  text-align: center;
}
.im_sticker_bl_demo_thumb {
  background: #fff;
  vertical-align: top;
  border-radius: 4px 4px 0 0;
}
.im_sticker_bl_info {
  text-align: left;
  padding: 12px 11px 14px;
}
.im_sticker_bl_name {
  font-weight: bold;
  font-size: 13px;
  color: #343434;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.im_sticker_bl_desc {
  color: #999;
  line-height: normal;
  padding: 2px 0 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.im_sticker_bl_promo {
  padding: 1px 6px 2px;
  font-weight: bold;
  color: #fff;
  font-size: 0.85em;
  background: #f66260;
  border-radius: 2px;
  position: absolute;
  top: 7px;
  right: -3px;
  vertical-align: top;
  -webkit-font-smoothing: antialiased;
  -webkit-box-shadow: 0 0 1px #fff;
  -moz-box-shadow: 0 0 1px #fff;
  box-shadow: 0 0 1px #fff;
}
.im_sticker_bl_promo.im_sticker_bl_sale {
  padding: 1px 4px 2px 6px;
  top: 8px;
  color: #422d08;
  background: #ffc12b;
  -webkit-box-shadow: 0 0 1px #f9a825;
  -moz-box-shadow: 0 0 1px #f9a825;
  box-shadow: 0 0 1px #f9a825;
}
.im_sticker_bl_btn {
  padding-top: 5px;
}
.im_stickers_buy_header {
  background: #eef0f2;
  padding: 15px 16px;
}
.im_stickerpack_img_wrap {
  margin: 4px 10px 0 0;
  text-align: center;
  width: 107px;
  height: 107px;
}
.im_stickerpack_img {
  height: 107px;
}
.im_stickerpack_info {
  overflow: hidden;
}
.im_stickerpack_buy {
  margin-top: 11px;
}
.im_stickerpack_author,
.im_stickerpack_author a {
  color: #9fa2aa;
}
.im_stickerpack_offer_label {
  color: #9fa2aa;
  padding: 12px 0 0;
}
.im_stickerpack_desc {
  font-size: 12px;
  color: #777;
  margin-top: 6px;
  margin-right: 25px;
  line-height: 135%;
}
.im_stickerpack_name {
  font-weight: bold;
  font-size: 15px;
  color: #323232;
  padding: 5px 0 4px 0;
  -webkit-font-smoothing: antialiased;
}
.im_stickerpack_sh {
  position: absolute;
  width: 100%;
  height: 3px;
  background: #555;
  opacity: 0.12;
  filter: alpha(opacity=12);
  display: none;
  left: 0;
  bottom: -2px;
}
.im_stickerpack_fixed {
  position: fixed;
  top: 0px;
  z-index: 200;
  -o-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.im_stickerpack_fixed .im_stickerpack_sh {
  display: block;
}
.im_stickerpack_preview {
  width: 92px;
  height: 92px;
  text-align: center;
  padding: 8px 12px;
}
.im_stickerpack_list {
  background: #fff;
  padding: 17px;
}
.im_sticker_bl_act {
  padding: 2px 0 0 4px;
}
.im_stickers_act_done {
  padding: 7px 8px 6px!important;
  background: #e8ebed;
  color: #8e949c;
  white-space: normal;
  -webkit-transition: none;
  -khtml-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.im_stickers_act_done .emoji_sprite {
  width: 15px;
  height: 12px;
  margin: 2px 0px 1px 5px;
  background-position: -116px 0px;
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.im_sticker_bl:hover .im_stickers_act_done,
.im_stickers_act_done:hover {
  background: #e8ebed;
  color: #8e949c;
}
.im_stickers_act_gift,
.im_stickers_act_done.im_stickers_act_gift:active,
.is_2x .im_stickers_act_done.im_stickers_act_gift:active {
  padding: 7px 7px 6px!important;
  margin-right: 7px;
  white-space: normal;
}
.im_stickers_act_gift .emoji_sprite {
  width: 14px;
  height: 16px;
  margin: -1px 0 0 0;
  background-position: -32px -42px;
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.im_stickers_act_done.im_stickers_act_gift .emoji_sprite {
  background-position: -46px -42px;
}
.im_stickerpack_info .flat_button {
  margin-top: 15px;
  margin-bottom: 7px;
}
.im_stickerpack_info .im_stickers_act_done:hover {
  cursor: default;
}
.im_stickerpack_info .im_stickers_act_done,
.im_stickerpack_info .im_stickers_act_done:active {
  background: #E0E1E2;
}
.im_stickerpack_info .im_stickers_act_gift,
.im_stickerpack_info .im_stickers_act_done.im_stickers_act_gift:active {
  margin-left: 10px;
  padding-left: 14px!important;
  padding-right: 12px!important;
}
.im_stickerpack_info .im_stickers_act_gift .emoji_sprite {
  margin-left: 9px;
}
.im_stickers_act_gift:active,
.im_stickers_act_gift.active,
.is_2x .im_stickers_act_gift:active,
.is_2x .im_stickers_act_gift.active {
  padding-top: 8px!important;
  padding-bottom: 5px!important;
}
.im_stickers_progress {
  vertical-align: text-top;
}
.im_stickers_empty {
  font-size: 1.2em;
  text-align: center;
  color: #777777;
  padding: 50px;
}
.im_stickers_my_img_cont {
  width: 48px;
  text-align: center;
}
.im_stickers_my_act {
  margin-top: 4px;
  display: block;
  padding: 6px 10px 6px 10px;
}
.im_stickers_my_act:hover {
  background: #E1E7ED;
  text-decoration: none;
}
.im_stickers_my_row {
  border-top: 1px solid #eef0f2;
  padding: 10px 0px 10px 8px;
  background: #FFFFFF;
}
.im_stickers_my_first {
  border-top: none;
}
.im_stickers_my_info {
  padding: 0 10px;
}
.im_stickers_name {
  font-weight: bold;
  color: #36638E;
  padding: 6px 0px 4px 0px;
}
.im_stickers_desc {
  color: #888888;
}
.im_stickers_my_summary {
  padding: 0px 0px 2px;
  margin: 2px 0px 0px;
  color: #45688E;
  border-bottom: 1px solid #DAE1E8;
  font-weight: bold;
  font-size: 1.1em;
}
.im_stickers_gift_act {
  margin-left: 10px;
}
.im_sticker_gift_box_wrap {
  padding: 0 25px 10px;
}
.im_sticker_gift_box_to,
.im_sticker_gift_box_msg {
  color: #45688E;
  line-height: 1.27em;
  margin: 0px;
  padding: 10px 0px 9px;
  font-size: 1.09em;
  font-weight: bold;
}
.im_sticker_gift_box_msg {
  padding: 20px 0px 9px;
}
#im_stickers_gift_desc {
  padding-top: 17px;
  color: #777;
  text-align: center;
  line-height: 160%;
}
.im_stickers_gift_img {
  text-align: center;
}
.im_stickers_gift_about {
  padding: 0 17px 0;
  text-align: center;
  color: #777;
}
.im_stickers_gift_price {
  width: 160px;
  margin: 15px auto 5px;
  padding: 10px 7px;
  text-align: center;
  background: #edf1f5;
  border-radius: 2px;
}
.im_stickers_gift_balance {
  padding: 3px 0 0;
  color: #666;
}
.im_stickers_gift_msg_warn {
  color: #777;
  padding: 20px 0px 0px;
  display: none;
}
.im_stickers_gift_msg_wrap {
  margin-bottom: 5px;
}
.im_stickers_gift_msg_field {
  width: 364px;
  height: 54px;
}
.im_stickers_gift_privacy {
  padding: 10px 0 0;
  color: #666;
}
.im_stickers_gift_tt_content {
  width: 288px;
  padding: 13px 14px;
  border: 1px solid #96AABE;
  background: #FFF;
}
.tt_header {
  font-weight: bold;
  color: #45688E;
  padding-bottom: 4px;
}
.tt_sticker_item {
  display: inline-block;
  padding: 5px 4px;
  width: 64px;
}
.tt_show_all {
  margin: 10px -14px -13px -14px;
  padding: 10px 5px;
  display: block;
  background-color: #ebeef2;
  color: #61768d;
  cursor: pointer;
  text-align: center;
}
.tt_show_all:hover {
  background-color: #e1e7ed;
  text-decoration: none;
}
.tt_link_arrow {
  padding: 0 0 0 4px;
  display: inline-block;
  width: 10px;
  height: 10px;
  background: url(/images/icons/wall_more_arrows.gif) no-repeat 4px 0;
}
.im_group_average_summary {
  color: #AAAAAA;
  font-weight: normal;
}
