#videocat_css {
  display: none;
}
.video_channel_header {
  background: #F7F7F7;
  padding: 12px 17px 10px;
  border-bottom: 1px solid #dae1e8;
}
.video_channel_header.video_channel_header_fixed {
  position: fixed;
  z-index: 20;
  width: 593px;
  top: 0;
}
.video_channel_header .video_channel_subscribe_wrap {
  float: right;
  margin-top: 5px;
  line-height: 27px;
  color: #777;
}
.video_channel_header .video_channel_photo {
  width: 35px;
  height: 35px;
  border-radius: 2px;
  display: inline-block;
  background-size: contain;
}
.video_channel_header .video_channel_title {
  display: inline-block;
  font-size: 1.2em;
  vertical-align: top;
  margin-top: 12px;
  margin-left: 10px;
  font-weight: bold;
  color: #476586;
}
.video_channel_header #video_channel_link:hover {
  text-decoration: none;
}
.video_channel_header #video_channel_link:hover .video_channel_title {
  text-decoration: underline;
}
.video_channel_header #video_channel_subs_progress {
  margin-top: 8px;
}
.video_cat_progress {
  display: none;
  height: 70px;
  background: url('/images/upload.gif') center center no-repeat;
}
#video_bottom_progress {
  height: 70px;
  background: url('/images/upload.gif') center center no-repeat;
  width: 100%;
  z-index: 1;
  display: none;
  margin-bottom: 30px;
}
#video_bottom_progress.video_cat_load {
  margin-bottom: 0;
}
#videocat_page {
  padding: 17px 15px 0px 16px;
  /* custom disabled titles */
}
#videocat_page .videocat_showcase {
  margin: 0 0 25px 0;
  width: 627px;
}
#videocat_page .videocat_showcase .videocat_header {
  margin-bottom: 10px;
}
#videocat_page .videocat_showcase .videocat_video {
  position: relative;
  display: inline-block;
  float: left;
}
#videocat_page .videocat_showcase .videocat_video .videocat_video_inner {
  width: 398px;
  height: 224px;
}
#videocat_page .videocat_showcase .videocat_video.no_panel .videocat_info {
  display: none;
}
#videocat_page .videocat_showcase .videocat_thumb {
  width: 398px;
  height: 224px;
  display: block;
  background-size: cover;
  background-position: center;
  background-color: #E8E8E8;
}
#videocat_page .videocat_showcase .videocat_info,
#videocat_page .videocat_showcase .videocat_shadow {
  display: none;
  /* for playlists */
}
#videocat_page .videocat_showcase .videocat_top3_video_item .videocat_shadow {
  background: url('/images/video_catalog_shadow.png?3');
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
  background-size: contain;
  display: block;
}
#videocat_page .videocat_showcase .videocat_top3_video_item .videocat_info {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 12px 14px;
  color: white;
  display: block;
  pointer-events: none;
}
#videocat_page .videocat_showcase .videocat_top3_video_item .videocat_title {
  font-weight: bold;
  display: block;
  color: white;
}
#videocat_page .videocat_showcase .videocat_top3_video_item .videocat_title:hover {
  text-decoration: none;
}
#videocat_page .videocat_showcase .videocat_video.videocat_video_small {
  margin-left: 6px;
  margin-bottom: 6px;
  cursor: pointer;
  overflow: hidden;
}
#videocat_page .videocat_showcase .videocat_video.videocat_video_small .videocat_thumb {
  width: 192px;
  height: 109px;
}
#videocat_page .videocat_showcase .videocat_video.videocat_video_small.videocat_top3_video_item .videocat_thumb_shadow {
  background-image: url('/images/video_top3_shadow.png?3');
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 100%;
  height: 74px;
  pointer-events: none;
  -o-transition: all 100ms ease;
  -ms-transition: all 100ms ease;
  -moz-transition: all 100ms ease;
  -webkit-transition: all 100ms ease;
  transition: all 100ms ease;
}
#videocat_page .videocat_showcase .videocat_video.videocat_video_small.videocat_top3_video_item .videocat_info {
  padding: 10px 12px 10px 10px;
  -o-transition: all 100ms ease;
  -ms-transition: all 100ms ease;
  -moz-transition: all 100ms ease;
  -webkit-transition: all 100ms ease;
  transition: all 100ms ease;
  pointer-events: none;
}
#videocat_page .videocat_showcase .videocat_video.videocat_video_small.videocat_top3_video_item:hover .videocat_info_bottom {
  margin-top: 4px;
  height: 13px;
  opacity: 1;
}
#videocat_page .videocat_showcase .videocat_video.videocat_video_small.videocat_top3_video_item:hover .videocat_thumb_shadow {
  bottom: -5px;
}
#videocat_page .videocat_showcase .videocat_video.videocat_video_small.videocat_top3_video_item .videocat_info_el {
  display: block;
}
#videocat_page .videocat_showcase .videocat_video.videocat_video_small.videocat_top3_video_item .videocat_title {
  white-space: normal;
  line-height: 1.4em;
  max-height: 29px;
  width: 125px;
  overflow: hidden;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
#videocat_page .videocat_showcase .videocat_video.videocat_video_small.videocat_top3_video_item .videocat_title:hover {
  text-decoration: none;
}
#videocat_page .videocat_showcase .videocat_video.videocat_video_small.videocat_top3_video_item .videocat_info_bottom {
  margin-top: -2px;
  height: 0;
  opacity: 0;
  -o-transition: height 200ms ease, opacity 270ms ease, margin-top 200ms ease;
  -ms-transition: height 200ms ease, opacity 270ms ease, margin-top 200ms ease;
  -moz-transition: height 200ms ease, opacity 270ms ease, margin-top 200ms ease;
  -webkit-transition: height 200ms ease, opacity 270ms ease, margin-top 200ms ease;
  transition: height 200ms ease, opacity 270ms ease, margin-top 200ms ease;
}
#videocat_page .videocat_showcase .videocat_video.videocat_video_small.videocat_top3_video_item .videocat_info_el,
#videocat_page .videocat_showcase .videocat_video.videocat_video_small.videocat_top3_video_item .group_link,
#videocat_page .videocat_showcase .videocat_video.videocat_video_small.videocat_top3_video_item .mem_link {
  max-width: 163px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
#videocat_page .videocat_showcase .videocat_video.videocat_video_small .videocat_duration {
  background: rgba(0, 0, 0, 0.5);
}
#videocat_page .videocat_showcase .videocat_play {
  background-image: url('/images/icons/video_play_compact.png?3');
  width: 17px;
  height: 22px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -23px;
  margin-top: -32px;
  background-color: rgba(0, 0, 0, 0.38);
  padding: 12px 15px;
  background-repeat: no-repeat;
  background-position: 16px 12px;
  border-radius: 4px;
  cursor: pointer;
  -o-transition: background 60ms linear;
  -ms-transition: background 60ms linear;
  -moz-transition: background 60ms linear;
  -webkit-transition: background 60ms linear;
  transition: background 60ms linear;
  pointer-events: none;
}
#videocat_page .videocat_showcase .videocat_play:hover,
#videocat_page .videocat_showcase .videocat_video_inner:hover .videocat_play {
  background-color: rgba(0, 0, 0, 0.6);
}
#videocat_page .videocat_showcase .videocat_info_bottom {
  margin-top: 4px;
}
#videocat_page .videocat_showcase .videocat_info_bottom .group_link,
#videocat_page .videocat_showcase .videocat_info_bottom .mem_link,
#videocat_page .videocat_showcase .videocat_info_bottom .videocat_bullet,
#videocat_page .videocat_showcase .videocat_info_bottom .videocat_info_el {
  color: rgba(255, 255, 255, 0.8);
  max-width: 180px;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  vertical-align: top;
}
#videocat_page .videocat_showcase .videocat_info_bottom .videocat_bullet {
  font-size: 8px;
  vertical-align: top;
  display: inline-block;
  margin: 3px 4px 0 2px;
}
#videocat_page .videocat_playlist_count {
  color: white;
  display: inline-block;
  vertical-align: top;
}
#videocat_page .videocat_playlist_icon {
  width: 12px;
  height: 12px;
  display: inline-block;
  vertical-align: top;
  background-image: url('/images/icons/video_catalog.png?4');
  background-position: -30px -32px;
  position: relative;
  top: 2px;
  opacity: 0.9;
}
#videocat_page .videocat_playlist_shadow {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-image: url(/images/videocat_bg_serial.png?1);
}
#videocat_page .videocat_playlist_title {
  color: white;
  font-weight: bold;
  max-width: 190px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
#videocat_page .videocat_playlist_members {
  color: rgba(255, 255, 255, 0.8);
  margin-top: 2px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
#videocat_page .videocat_playlist_info {
  position: absolute;
  bottom: 8px;
  left: 10px;
}
#videocat_page .videocat_header .videocat_row_header_show_more {
  display: inline-block;
  vertical-align: top;
  margin-top: 11px;
  opacity: 0;
  -o-transition: opacity 100ms linear;
  -ms-transition: opacity 100ms linear;
  -moz-transition: opacity 100ms linear;
  -webkit-transition: opacity 100ms linear;
  transition: opacity 100ms linear;
}
#videocat_page .videocat_header .videocat_bullet {
  color: #AFAFAF;
  font-size: 8px;
  margin: 3px 4px 0 3px;
}
#videocat_page .videocat_header_groupsize {
  display: inline-block;
  vertical-align: top;
  margin-top: 8px;
  margin-left: 10px;
  color: #777;
}
#videocat_page .videocat_header_icon {
  background-image: url('/images/icons/video_catalog.png?5');
  width: 28px;
  height: 28px;
  display: inline-block;
  border-radius: 2px;
  background-color: #668BB3;
}
#videocat_page .videocat_header_icon.videocat_header_owner {
  background-size: cover !important;
}
#videocat_page .videocat_header_icon.videocat_header_recom {
  background-position: 0px -476px;
}
#videocat_page .videocat_header_icon.videocat_header_series {
  background-position: 0px -56px;
}
#videocat_page .videocat_header_icon.videocat_header_feed {
  background-position: 0px -1px;
}
#videocat_page .videocat_header_icon.videocat_header_editors_choice {
  background-position: 0px -28px;
}
#videocat_page .videocat_header_icon.videocat_header_ugc_popular {
  background-position: 0px -84px;
}
#videocat_page .videocat_header_icon.videocat_header_updates {
  background-position: 0px -532px;
}
#videocat_page .videocat_header_icon.videocat_header_1 {
  background-position: 0px -140px;
}
#videocat_page .videocat_header_icon.videocat_header_2 {
  background-position: 0px -308px;
}
#videocat_page .videocat_header_icon.videocat_header_3,
#videocat_page .videocat_header_icon.videocat_header_19 {
  background-position: 0px -363px;
}
#videocat_page .videocat_header_icon.videocat_header_4 {
  background-position: 0px -168px;
}
#videocat_page .videocat_header_icon.videocat_header_5 {
  background-position: 0px -195px;
}
#videocat_page .videocat_header_icon.videocat_header_6 {
  background-position: 0px -335px;
}
#videocat_page .videocat_header_icon.videocat_header_7 {
  background-position: 0px -392px;
}
#videocat_page .videocat_header_icon.videocat_header_8 {
  background-position: 0px -224px;
}
#videocat_page .videocat_header_icon.videocat_header_9 {
  background-position: 0px -84px;
}
#videocat_page .videocat_header_icon.videocat_header_10 {
  background-position: 0px -448px;
}
#videocat_page .videocat_header_icon.videocat_header_12 {
  background-position: 0px -419px;
}
#videocat_page .videocat_header_icon.videocat_header_13 {
  background-position: 0px -252px;
}
#videocat_page .videocat_header_icon.videocat_header_16 {
  background-position: 0px -448px;
}
#videocat_page .videocat_header_icon.videocat_header_17 {
  background-position: 0px -112px;
}
#videocat_page .videocat_header_icon.videocat_header_111 {
  background-position: 0px -280px;
}
#videocat_page .videocat_header_icon.videocat_header_108 {
  background-position: 0px -504px;
}
#videocat_page .videocat_header_icon.videocat_header_69 {
  background-position: 0px -280px;
}
#videocat_page .videocat_header_icon.videocat_header_63 {
  background-position: 0px -448px;
}
#videocat_page .videocat_header_title {
  font-size: 1.1em;
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  color: #476586;
  font-weight: bold;
  line-height: 2.4em;
}
#videocat_page .videocat_owner_link:hover .videocat_header_title {
  text-decoration: underline;
}
#videocat_page #videocat_header_editors_choice .videocat_owner_link,
#videocat_page #videocat_header_recom .videocat_owner_link,
#videocat_page #videocat_header_feed .videocat_owner_link,
#videocat_page #videocat_header_series .videocat_owner_link {
  pointer-events: none;
}
#videocat_page .videocat_more_toggle {
  background: #EFF1F3;
  padding: 10px;
  text-align: center;
  color: #738392;
  cursor: pointer;
  margin-bottom: 20px;
  width: 577px;
}
#videocat_page .videocat_more_toggle:hover {
  background: #E9EDF1;
}
#videocat_page .videocat_more_toggle .videocat_more_toggle_progress {
  background: url('/images/upload.gif') center center no-repeat;
  width: 100%;
  height: 13px;
  display: none;
}
#videocat_page .videocat_divider {
  border-top: 1px solid #D9E0E7;
  margin: 0px -15px 18px;
}
.videocat_row {
  margin-top: 10px;
  margin-left: -16px;
  padding-left: 15px;
  width: 612px;
  position: relative;
  overflow: hidden;
  -o-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
.videocat_row:hover .videocat_row_header_show_more {
  opacity: 1;
}
.videocat_row:first-child {
  margin-top: 0;
}
.videocat_row .videocat_block_close {
  width: 11px;
  height: 11px;
  background-image: url('/images/icons/video_hide_channel.png?3');
  position: absolute;
  top: 11px;
  right: 14px;
  cursor: pointer;
  opacity: 0.0;
  -o-transition: opacity 100ms linear;
  -ms-transition: opacity 100ms linear;
  -moz-transition: opacity 100ms linear;
  -webkit-transition: opacity 100ms linear;
  transition: opacity 100ms linear;
}
.videocat_row:hover .videocat_block_close {
  opacity: 0.4;
}
.videocat_row:hover .videocat_block_close:hover {
  opacity: 1;
}
.videocat_row:hover .videocat_block_close:active {
  opacity: 1;
  top: 13px;
}
.videocat_row .videocat_bock_right_panel {
  float: right;
}
.videocat_row .videocat_bock_right_panel .videocat_block_subscribe,
.videocat_row .videocat_bock_right_panel .videocat_block_unsubscribe {
  margin-top: 2px;
  margin-right: 14px;
}
.videocat_row .videocat_bock_right_panel .videocat_block_close {
  float: left;
}
.videocat_row .videocat_bock_right_panel .videocat_block_close {
  position: static;
  margin-top: 9px;
  margin-right: 9px;
}
.videocat_row .videocat_content {
  padding-top: 5px;
}
.videocat_row .videocat_row_video,
.videocat_row .videocat_row_playlist {
  float: left;
  margin-right: 10px;
  width: 178px;
  padding: 3px 0 19px;
  -o-transition: opacity 100ms linear;
  -ms-transition: opacity 100ms linear;
  -moz-transition: opacity 100ms linear;
  -webkit-transition: opacity 100ms linear;
  transition: opacity 100ms linear;
}
.videocat_row .videocat_row_playlist {
  width: 272px;
}
.videocat_row .videocat_row_video_thumb {
  width: 192px;
  height: 100px;
  display: block;
  background-size: cover;
  background-position: center;
  position: relative;
  background-color: #E8E8E8;
}
.videocat_row .videocat_title {
  color: #2B587A;
  line-height: 1.5em;
  margin-top: 4px;
  margin-bottom: 2px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.videocat_row .videocat_owner {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.videocat_row .videocat_owner .group_link,
.videocat_row .videocat_owner .mem_link {
  display: inline-block;
  margin-bottom: 2px;
  color: #777;
  /* ellipsis */
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.videocat_row .videocat_info {
  -margin-top: 4px;
  overflow: hidden;
  white-space: normal;
}
.videocat_row .videocat_info_el {
  color: #777;
}
.videocat_row .videocat_bullet {
  font-size: 6px;
  vertical-align: top;
  display: inline-block;
  margin: 3px 4px 0;
  color: #919191;
}
.videocat_row .videocat_grid_wrap {
  width: 610px;
}
.videocat_row .videocat_play {
  background-image: url(/images/icons/video_play.png);
  width: 10px;
  height: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -20px;
  margin-top: -20px;
  background-color: rgba(0, 0, 0, 0.45);
  padding: 12px 15px;
  background-repeat: no-repeat;
  background-position: 14px 11px;
  border-radius: 4px;
  cursor: pointer;
  opacity: 0;
  -o-transition: opacity 60ms linear;
  -ms-transition: opacity 60ms linear;
  -moz-transition: opacity 60ms linear;
  -webkit-transition: opacity 60ms linear;
  transition: opacity 60ms linear;
}
.videocat_row .videocat_row_video:hover .videocat_play {
  opacity: 1;
}
.videocat_row .videocat_row_slider {
  position: relative;
  margin-left: -15px;
  width: 627px;
}
.videocat_row .videocat_row_slider_items {
  white-space: nowrap;
  overflow: hidden;
}
.videocat_row .videocat_row_slider_items_cont {
  position: relative;
  left: 15px;
  -o-transition: left 620ms ease, margin-left 350ms ease;
  -ms-transition: left 620ms ease, margin-left 350ms ease;
  -moz-transition: left 620ms ease, margin-left 350ms ease;
  -webkit-transition: left 620ms ease, margin-left 350ms ease;
  transition: left 620ms ease, margin-left 350ms ease;
}
.videocat_row .videocat_row_slider_items_cont .videocat_row_video,
.videocat_row .videocat_row_slider_items_cont .videocat_row_playlist {
  display: inline-block;
  float: none;
  vertical-align: top;
  _width: 178px;
}
.videocat_row .videocat_row_slider_items_cont .videocat_row_video_thumb {
  width: 178px;
}
.videocat_row .videocat_row_slider_items_cont .videocat_row_playlist .videocat_row_video_thumb {
  width: 272px;
  height: 150px;
}
.videocat_row .videocat_row_slider_shift_left {
  margin-left: -9px;
}
.videocat_row .videocat_row_slider_shift_right {
  margin-left: 9px;
}
.videocat_row .videocat_slider_offseted .videocat_row_slider_shift_left {
  margin-left: -30px;
}
.videocat_row .videocat_slider_offseted .videocat_row_slider_shift_right {
  margin-left: 30px;
}
.videocat_row .videocat_row_item {
  padding: 3px 0 19px;
}
.videocat_row .videocat_row_slider_items .videocat_row_item {
  display: inline-block;
  float: none;
  vertical-align: top;
  margin-right: 10px;
  -o-transition: opacity 180ms linear;
  -ms-transition: opacity 180ms linear;
  -moz-transition: opacity 180ms linear;
  -webkit-transition: opacity 180ms linear;
  transition: opacity 180ms linear;
}
.videocat_row .videocat_grid_wrap .videocat_row_item {
  width: 192px;
}
.videocat_row .videocat_row_slider_items .videocat_item_transparent {
  opacity: 0.6;
}
.videocat_row .videocat_row_showmore .videocat_row_video_thumb {
  background-image: url('/images/icons/video_catalog_more.png?3');
  background-size: inherit;
  background-repeat: no-repeat;
  background-position: center 22px;
  color: #8A9DB2;
}
.videocat_row .videocat_row_showmore .videocat_row_showmore_title {
  width: 100%;
  text-align: center;
  position: relative;
  top: 67px;
  font-weight: bold;
  text-transform: uppercase;
}
.videocat_row .videocat_playlists_slider .videocat_row_showmore .videocat_row_video_thumb {
  background-position: center 50px;
}
.videocat_row .videocat_playlists_slider .videocat_row_showmore .videocat_row_showmore_title {
  top: 96px;
}
.videocat_row .videocat_row_slider_btn {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: 100;
  height: 100%;
  padding: 0 26px 0 5px;
  opacity: 0;
  -o-transition: padding 330ms ease, opacity 200ms linear;
  -ms-transition: padding 330ms ease, opacity 200ms linear;
  -moz-transition: padding 330ms ease, opacity 200ms linear;
  -webkit-transition: padding 330ms ease, opacity 200ms linear;
  transition: padding 330ms ease, opacity 200ms linear;
}
.videocat_row .videocat_row_slider_btn:hover {
  opacity: 1;
  padding-left: 15px;
}
.videocat_row .videocat_row_slider_btn#videocat_slider_right {
  right: 0;
  left: inherit;
  padding: 0 5px 0 26px;
}
.videocat_row .videocat_row_slider_btn#videocat_slider_right .videocat_row_slider_btn_icon {
  background-position: 0 0;
}
.videocat_row .videocat_row_slider_btn#videocat_slider_right:hover {
  opacity: 1;
  padding-right: 15px;
}
.videocat_row .videocat_row_slider_btn:active {
  top: 1px;
}
.videocat_row .videocat_row_slider_btn.videocat_row_slider_hidden {
  opacity: 0 !important;
}
.videocat_row .videocat_row_slider_btn_icon {
  background-image: url('/images/icons/apps_arrows_new.png?3');
  width: 18px;
  height: 28px;
  margin-top: 40px;
  background-position: 0 -30px;
  opacity: 1;
}
.videocat_row .videocat_row_slider:hover .videocat_row_slider_btn {
  opacity: 0.7;
}
.videocat_row .videocat_playlists_slider .videocat_row_slider_btn_icon {
  margin-top: 60px;
}
.videocat_duration {
  position: absolute;
  color: white;
  font-size: 1em;
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.6);
  padding: 2px 6px 3px 6px;
  right: 6px;
  bottom: 6px;
  -o-transition: background 100ms ease;
  -ms-transition: background 100ms ease;
  -moz-transition: background 100ms ease;
  -webkit-transition: background 100ms ease;
  transition: background 100ms ease;
}
.video_plb_wrap {
  display: none;
  box-sizing: border-box;
  top: 0;
  left: 0;
  height: 405px;
  width: 240px;
  background-color: #1E1E1E;
  position: absolute;
  z-index: 600;
  overflow: hidden;
  opacity: 1;
  -o-transition: opacity 100ms linear, padding-left 100ms linear;
  -ms-transition: opacity 100ms linear, padding-left 100ms linear;
  -moz-transition: opacity 100ms linear, padding-left 100ms linear;
  -webkit-transition: opacity 100ms linear, padding-left 100ms linear;
  transition: opacity 100ms linear, padding-left 100ms linear;
}
.video_plb_wrap.video_plb_collapsed {
  padding-left: 100px;
  opacity: 0;
}
.video_plb_wrap .video_plb_header {
  height: 33px;
  background-color: #1E1E1E;
  overflow: hidden;
}
.video_plb_wrap .video_plb_header .video_plb_header_btn {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 12px 6px;
  opacity: 0.7;
  -o-transition: opacity 100ms linear;
  -ms-transition: opacity 100ms linear;
  -moz-transition: opacity 100ms linear;
  -webkit-transition: opacity 100ms linear;
  transition: opacity 100ms linear;
}
.video_plb_wrap .video_plb_header .video_plb_header_title {
  color: #BEBEBE;
  float: left;
  padding-top: 9px;
  padding-left: 11px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 208px;
  box-sizing: border-box;
}
.video_plb_wrap .video_plb_header .video_plb_header_btn:hover {
  opacity: 1;
}
.video_plb_wrap .video_plb_header .video_plb_header_btn:active {
  position: relative;
  top: 1px;
}
.video_plb_wrap .video_plb_header .video_plb_header_btn.video_header_btn_active {
  opacity: 1;
}
.video_plb_wrap .video_plb_header .video_plb_header_icon {
  background-image: url('/images/icons/video_playlist_actions.png?3');
  width: 17px;
  height: 14px;
}
.video_plb_wrap .video_plb_header #video_plb_add .video_plb_header_icon {
  background-position: 1px -32px;
}
.video_plb_wrap .video_plb_header #video_plb_repeat .video_plb_header_icon {
  background-position: 0 0;
}
.video_plb_wrap .video_plb_header .video_plb_header_collapse_icon {
  float: right;
  width: 15px;
  height: 11px;
  padding: 10px 6px;
  background-image: url('/images/icons/video_pl_collapse.png');
  background-repeat: no-repeat;
  background-position: 4px 11px;
  cursor: pointer;
  opacity: 0.5;
  -o-transition: opacity 100ms linear;
  -ms-transition: opacity 100ms linear;
  -moz-transition: opacity 100ms linear;
  -webkit-transition: opacity 100ms linear;
  transition: opacity 100ms linear;
}
.video_plb_wrap .video_plb_header .video_plb_header_collapse_icon:active {
  margin-top: 1px;
}
.video_plb_wrap .video_plb_header .video_plb_header_collapse_icon:hover {
  opacity: 1;
}
.video_plb_wrap .video_plb_video {
  display: block;
  padding: 7px 5px 5px 9px;
  cursor: pointer;
  background-color: #1E1E1E;
  margin-right: 7px;
  white-space: nowrap;
  -o-transition: background-color 100ms linear;
  -ms-transition: background-color 100ms linear;
  -moz-transition: background-color 100ms linear;
  -webkit-transition: background-color 100ms linear;
  transition: background-color 100ms linear;
}
.video_plb_wrap .video_plb_video:hover {
  background-color: #272727;
  text-decoration: none;
}
.video_plb_wrap .video_plb_video.video_plb_active {
  background-color: #2E2E2E;
}
.video_plb_wrap .video_plb_list {
  height: 372px;
  position: relative;
  overflow: hidden;
}
.video_plb_wrap .video_plb_v_thumb {
  width: 100px;
  height: 55px;
  background-size: cover;
  background-position: center;
  position: relative;
  display: inline-block;
}
.video_plb_wrap .video_plb_v_info {
  display: inline-block;
  vertical-align: top;
  width: 112px;
  margin-left: 5px;
  white-space: normal;
}
.video_plb_wrap .video_plb_v_title {
  color: #DADADA;
  margin-bottom: 2px;
  max-height: 26px;
  overflow: hidden;
}
.video_plb_wrap .video_plb_v_views {
  color: #9B9B9B;
}
.video_plb_wrap .videocat_duration {
  border-radius: 2px 0 0 0;
  right: 0px;
  bottom: 0px;
  padding: 2px 5px 2px 5px;
  -o-transition: opacity 100ms linear;
  -ms-transition: opacity 100ms linear;
  -moz-transition: opacity 100ms linear;
  -webkit-transition: opacity 100ms linear;
  transition: opacity 100ms linear;
}
.mv_pl_scrollbar_cont {
  width: 7px;
  height: 100%;
  position: absolute;
  background: rgba(200, 200, 200, 0.06);
  cursor: pointer;
  z-index: 100;
}
.mv_pl_scrollbar_cont .mv_pl_scrollbar_inner {
  background-color: #3d3d3d;
  width: 7px;
  height: 26px;
  margin-left: 0;
  border-radius: 1px;
  cursor: pointer;
  -o-transition: background-color 100ms linear;
  -ms-transition: background-color 100ms linear;
  -moz-transition: background-color 100ms linear;
  -webkit-transition: background-color 100ms linear;
  transition: background-color 100ms linear;
}
.mv_pl_scrollbar_cont .mv_pl_scrollbar_inner:hover {
  background-color: #424242;
}
.scrollbar_c_overed .mv_pl_scrollbar_inner {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}
.is_2x .videocat_row .videocat_play {
  background-image: url(/images/icons/video_play_2x.png);
  background-size: 14px 18px;
}
.is_2x .videocat_row .videocat_row_slider_btn_icon {
  background-image: url('/images/icons/apps_arrows_new_2x.png?3');
  background-size: 18px 58px;
}
.is_2x #videocat_page .videocat_showcase .videocat_play {
  background-image: url('/images/icons/video_play_compact_2x.png?3');
  background-size: 17px 22px;
}
.is_2x #videocat_page .videocat_header_icon {
  background-image: url('/images/icons/video_catalog_2x.png?4');
  background-size: 72px 560px;
}
.is_2x #videocat_page .videocat_row_showmore .videocat_row_video_thumb {
  background-image: url('/images/icons/video_catalog_more_2x.png?3');
  background-size: 42px 37px;
}
.is_2x #videocat_page .videocat_row .videocat_block_close {
  background-image: url(/images/icons/video_hide_channel_2x.png);
  background-size: 11px 11px;
}
.is_2x #videocat_page .videocat_more_toggle .videocat_more_toggle_progress {
  background-image: url('/images/upload_2x.gif');
  background-size: 32px 8px;
}
