{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    Вход
{% endblock %}
{% block css %}
    <link href="{% static 'resources/css/sing_in.css' %}" rel="stylesheet">
{% endblock %}
{% block carousel %}
{% endblock %}
{% block body %}
    <div class="container">
        <form class="form-signup" role="form" action="{% url 'users:login' %}" method="post">
            {% csrf_token %}
            <h2 class="form-signin-heading">Пожалуйста войдите</h2>
            {% for error in errors %}
                <p>{{ error }}</p>
            {% endfor %}
            <input id="id_login" name="login" type="text" class="form-control" placeholder="Логин" required autofocus>
            <input id="id_password" name="password" type="password" class="form-control" placeholder="Пароль" required>
            <label class="checkbox">
                <input type="checkbox" value="remember-me"> Remember me
            </label>
            <input class="btn btn-lg btn-primary btn-block" type="submit" value="Вход"/>
            <a href="{% url 'users:registration' %}">Зарегистрироваться</a>
        </form>

    </div> <!-- /container -->
{% endblock %}