{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    Личный кабинет
{% endblock %}
{% block css %}
    <link href="{% static 'resources/css/profile.css' %}" rel="stylesheet">
{% endblock %}
{% block carousel %}
{% endblock %}
{% block body %}
    <div class="container" style="padding-top: 60px;">
        <h1 class="page-header">{{ profile.user.username }}</h1>

        <div class="row">
            <!-- left column -->
            <form action="{% url 'users:my' %}" method="post">
                {% csrf_token %}
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="text-center">
                        <img src="{{ profile.photo.url }}" height="400" width="300">
                    </div>
                </div>
                <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
                    <table>
                        <thead>
                        <h3><span class="glyphicon glyphicon-user"></span> <strong>Данные пользователя:</strong></h3>
                        </thead>
                        {% for error in errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                        <br/>
                        <tr>
                            <td><h4><strong>{{ form.first_name.label }} </strong></h4></td>
                            <td>{{ form.first_name }}</td>
                        </tr>
                        <tr>
                            <td><h4><strong>{{ form.last_name.label }} </strong></h4></td>
                            <td>{{ form.last_name }}</td>
                        </tr>
                        <tr>
                            <td><h4><strong>{{ form.gender.label }} </strong></h4></td>
                            <td><h4>{{ form.gender }}</h4></td>
                        </tr>
                        <tr>
                            <td><h4><strong>{{ form.birthday.label }} </strong></h4></td>
                            <td><h4>{{ form.birthday }}</h4></td>
                        </tr>
                        <tr>
                            <td><h4><strong>{{ form.rep_password.label }}</strong></h4></td>
                            <td>{{ form.password }}</td>
                        </tr>
                        <tr>
                            <td><h4><strong>{{ form.password.label }}</strong></h4></td>
                            <td>{{ form.rep_password }}</td>
                        </tr>
                        <tr>
                            <td/>
                            <td><input class="btn btn-lg btn-primary btn-block" type="submit" value="Изменить"/></td>
                        </tr>
                    </table>
                </div>
            </form>
        </div>
    <h4>Питомцы</h4>
    <hr>
    <div class="row">

    </div>
    </div>
{% endblock %}
