{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    Профиль
{% endblock %}
{% block css %}
    <link href="{% static 'resources/css/profile.css' %}" rel="stylesheet">
{% endblock %}
{% block carousel %}
{% endblock %}
{% block body %}
    <div class="container" style="padding-top: 60px;">
        <h1 class="page-header">{{ profile.user.username }}</h1>

        <div class="row">
            <!-- left column -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="text-center">
                    <img src="{{ profile.photo.url }}" height="400" width="300" >
                </div>
            </div>
            <!-- edit form column -->
            <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
                <table>
                    <thead>
                    <h3><strong>Данные пользователя:</strong></h3>
                    </thead>
                    <tr>
                        <td><h4><strong>Имя: </strong></h4></td>
                        <td><h4>{{ profile.user.first_name }}</h4></td>
                    </tr>
                    <tr>
                        <td><h4><strong>Фамилия: </strong></h4></td>
                        <td><h4>{{ profile.user.last_name }}</h4></td>
                    </tr>
                    <tr>
                        <td><h4><strong>Пол: </strong></h4></td>
                        <td><h4>{{ profile.gender }}</h4></td>
                    </tr>
                    <tr>
                        <td><h4><strong>Дата рождения: </strong></h4></td>
                        <td><h4>{{ profile.birthday }}</h4></td>
                    </tr>
                </table>


            </div>
        </div>
    </div>
{% endblock %}
