{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}
    Регистрация
{% endblock %}

{% block css %}
    <link href="{% static 'resources/css/sing_up.css' %}" rel="stylesheet">
{% endblock %}

{% block carousel %}
{% endblock %}

{% block body %}
    <div class="container">
        <form class="form-signup" role="form" action="{% url 'users:registration' %}" method="post"
              enctype="multipart/form-data">
            {% csrf_token %}
            <h2 class="form-signup-heading">Регистрация</h2>
            {% for error in errors %}
                <p>{{ error }}</p>
            {% endfor %}
            {{ form.as_p }}
            <input class="btn btn-lg btn-primary btn-block" type="submit" value="Регистрация"/>
            <a href="{% url 'users:login' %}">Вход</a>
        </form>

    </div>
{% endblock %}
