{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    Регистрация
{% endblock %}
{% block css %}
    <link href="{% static 'resources/css/success.css' %}" rel="stylesheet">
{% endblock %}
{% block carousel %}
{%  endblock %}
{% block body %}
    <div class="jumbotron">
        <h1>Регистрация прошла успешно</h1>
        <p>В данном сервисе Вы можете завести новых <strong>Питомцов</strong>.</p>
         <p>Или же найти нового хозяйна для питомцев</p>
      </div>
{% endblock %}