{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            Главная
        {% endblock %}
    </title>

    <link href="{% static 'resources/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'resources/css/carousel.css' %}" rel="stylesheet">
    <link href="{% static 'resources/css/footer.css' %}" rel="stylesheet">


    {% block css %}
    {% endblock %}


</head>

<body>


{% block navbar %}
    {% include "navbar.html" %}
{% endblock %}



{% block carousel %}
    {% include "carousel.html" %}
{% endblock %}



{% block body %}
{% endblock %}



{% block footer %}
    <div id="footer">
        <div class="container">
            <p class="text-muted">Django project.</p>
        </div>
    </div>
{% endblock %}


<script src="{% static 'resources/js/jquery.min.js' %}"></script>
<script src="{% static 'resources/js/bootstrap.min.js' %}"></script>


{%  block js %}
{% endblock %}

</body>
</html>