<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img width="900" src="">
            <div class="carousel-caption">
                <h3>Заголовок1</h3>
                <p>Текст</p>
            </div>
        </div>

        <div class="item">
            <img width="900" src="">
            <div class="carousel-caption">
                <h3>Заголовок2</h3>
                <p>Текст</p>
            </div>
        </div>

        <div class="item">
            <img width="900" src="">
            <div class="carousel-caption">
                <h3>Заголовок3</h3>
                <p>Текст</p>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>
