<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'home' %}">Питомцы</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'news:show' %}">Новости</a></li>
                <li><a href="{% url 'shelters:show' %}">Приюты</a></li>
                <li><a href="#">Счастливчики</a></li>
                <li><a href="{% url 'users:my' %}">Профиль</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Поиск <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Питомцев</a></li>
                        <li><a href="#">Хозяев</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li><a href="{% url 'users:logout' %}?next={{ request.path }}">Выйти <span
                            class="glyphicon glyphicon-log-out"/></a></li>
                {% else %}
                    <li><a href="{% url 'users:login' %}?next={{ request.path }}">Войти <span
                            class="glyphicon glyphicon-log-in"/></a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>